
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

div#hero-container
	
	div#hc-staff-lookup

		div.ms-BasePicker.ms-PeoplePicker
			box-sizing: border-box
			border: 0
			background-color: $white

			div.ms-BasePicker-text
				border: 0

				div.ms-PickerPersona-container
					color: $grey12
					background-color: $grey2

				div.ms-PickerPersona-container.is-selected.personaContainerIsSelected
					background-color: $grey2

				div.ms-Persona-primaryText
					color: $grey12

				button.ms-Button.ms-PickerItem-removeButton
					width: 2.6rem
					font-size: 0
					color: $text-on-interactive-default
					background-color: $interactive-default
					transition: background-color .25s
					border: 0

					&:hover
						background-color: $interactive-active

			input.ms-BasePicker-input
				border: 0
				color: $grey12
				background-color: $white





















