extends htmlHead

block content
	div#screen_index
		div#message
			a(href="/")
				h1= title
			p Neso isn't really browseable. Bacon Cat works on Neso, but all you can really do here in a browser is to look at his glamour shot.
