
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

@media screen and (min-width: $medium-screen-minimum-width)

	div#hc-background-info-container
		flex-shrink: 0

		button.hc-background-info__button
			margin-left: 0
			border: 0
			background-color: $blue7
			color: $text-on-blue7
			transition: background-color .25s

			&:hover
				background-color: $blue8
				color: $text-on-blue8

		div#hc-background-info__information
			+font-weight-semilight
			padding: 2rem
			background: $white-90-percent
			color: $grey15

			h3
				+font-weight-regular
				font-size: $medium-screen-type-size-m

			a#photo-source-link,
			a#photographer-link
				color: $blue5 !important
				transition: color .25s

				&:hover
					color: $blue6


























