
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

@media screen and (min-width: $medium-screen-minimum-width)

	div#hc-get-it-done
		padding: 5rem

		div#hc-get-it-done-view-by-group,
		div#hc-get-it-done-view-by-alpha > ul
			padding-top: 1rem
			column-count: 4
			column-gap: 0

		div#hc-get-it-done-view-by-alpha > ul > li.hc-get-it-done-item
			list-style: none

		div#hc-get-it-done-view-by-group div.hc-get-it-done-group,
		div#hc-get-it-done-view-by-alpha > ul > li.hc-get-it-done-item
			break-inside: avoid
			page-break-inside: avoid
			padding: 2rem
			background-color: $grey1
			margin: 0 1rem 1rem 0

		a.hc-get-it-done-item-link
			color: $interactive-on-light-grey !important
			transition: color .25s

			&:hover
				color: $interactive-active-on-light-grey




























