
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

@media screen and (min-width: $medium-screen-minimum-width)

	// DEFAULT

	nav#hc-navigation

		ul#hc-navigation__items
			+row
			margin-bottom: 0

			li.hc-navigation__items__item
				+column

				button.hc-navigation__items__item__button
					+font-weight-semibold
					min-width: 0
					border: 0
					margin: 0 3rem 0 0
					padding: 0
					text-align: left
					font-size: 1.3rem
					text-transform: uppercase
					background-color: transparent
					color: $white

					div.ms-Button-flexContainer
						height: 3rem


















	// STUCK
