
// ----- IMPORTS

@import './hub-vars'
@import './hub-mixins'

// ----- DECLARATIONS

// --- MEDIUM - HC CONTAINER

@media screen and (min-width: $medium-screen-minimum-width)

	div#hc-container
		font-size: $medium-screen-type-size-s

// --- MEDIUM - TYPE

@media screen and (min-width: $medium-screen-minimum-width)

	h1
		font-size: $medium-screen-type-size-xxl
		padding: $medium-screen-top-padding-xxl 0 $medium-screen-bottom-padding-xxl 0

	h2
		font-size: $medium-screen-type-size-xl
		padding: $medium-screen-top-padding-xl 0 $medium-screen-bottom-padding-xl 0

	h3
		font-size: $medium-screen-type-size-l
		padding: $medium-screen-top-padding-l 0 $medium-screen-bottom-padding-l 0

	h4
		font-size: $medium-screen-type-size-m
		padding: $medium-screen-top-padding-m 0 $medium-screen-bottom-padding-m 0



// --- MEDIUM - PERSONA CARD

@media screen and (min-width: $medium-screen-minimum-width)

	div#hc-container

		div.hc-organization-teams-member-persona,
		li.hc-staff-lookup-persona
			+row

			div.persona-card-dialog-header
				+column
				width: 60%


			ul.persona-card-dialog-body
				+column
				font-size: 1.4rem
				padding: 0
				vertical-align: middle
				width: 40%

				li.profile
					margin: 0






