
// ----- IMPORTS

@import './hub-vars'
@import './hub-mixins'

// ----- DECLARATIONS

@media screen and (min-width: $medium-screen-minimum-width)

	div#s4-workspace
		font-size: $medium-screen-type-size-s

	h1
		font-size: $medium-screen-type-size-xxl
		padding: $medium-screen-top-padding-xxl 0 $medium-screen-bottom-padding-xxl 0

	h2
		font-size: $medium-screen-type-size-xl
		padding: $medium-screen-top-padding-xl 0 $medium-screen-bottom-padding-xl 0

	h3
		font-size: $medium-screen-type-size-l
		padding: $medium-screen-top-padding-l 0 $medium-screen-bottom-padding-l 0

	h4
		font-size: $medium-screen-type-size-m
		padding: $medium-screen-top-padding-m 0 $medium-screen-bottom-padding-m 0

