
// ------------------
// BASE COLORS
// ------------------

// --- GREYS

$black:						#000
$white:						#fff
$grey1:						#eee // lightest
$grey2:						#e6e6e6
$grey3:						#ddd
$grey4:						#ccc
$grey5:						#bbb
$grey6:						#aaa
$grey7:						#999
$grey8:						#888
$grey9:						#777
$grey10:					#666
$grey11:					#555
$grey12:					#444
$grey13:					#333
$grey14:					#222
$grey15:					#111 // darkest

// --- BLUES

$blue0:						#d0f4ff	// lightest
$blue1:						#aae1f2
$blue2:						#8cbdcf
$blue3:						#649db5
$blue4:						#417d9e
$blue5:						#246187
$blue6:						#0f466e
$blue7:						#002f56
$blue8:						#002140	// darkest

// --- DARKS

$dark-red:					#79232e
$dark-pink: 				#a60063
$dark-purple: 				#490c66
$dark-green: 				#034436

// --- MEDIUMS

$yellow:		 			#fedd00
$red:			 			#d82113
$orange:	 				#d94001
$pink:		 				#da1884
$purple:	 				#8015b2
$green:		 				#218575

// --- LIGHTS

$light-yellow:				#f2ea9a
$light-orange:				#ffc999
$light-peach:				#ffb4aa
$light-pink:				#e5c5d3
$light-green:				#b2ffd9

// ------------------
// CONTEXT COLORS
// ------------------

// --- BLUES

$text-on-blue0:				$grey10
$text-on-blue1:				$grey11
$text-on-blue2:				$grey12
$text-on-blue3:				$grey14
$text-on-blue4:				$white
$text-on-blue5:				$white
$text-on-blue6:				$white
$text-on-blue7:				$white
$text-on-blue8:				$white

// --- DARKS

$text-on-dark-red:			$white
$text-on-dark-pink:			$white
$text-on-dark-purple:		$white
$text-on-dark-green:		$white

$colored-on-dark-pink:		$light-pink
$colored-on-dark-green:		$light-green
$colored-on-dark-purple:	$light-orange

// --- MEDIUMS

$text-on-yellow:			$grey11
$text-on-red:				$white
$text-on-orange:			$white
$text-on-pink:				$white
$text-on-purple:			$white
$text-on-green:				$white

// --- LIGHTS

$text-on-light-yellow:		$grey10
$text-on-light-orange:		$grey11
$text-on-light-peach:		$grey12
$text-on-light-pink:		$grey11
$text-on-light-green:		$grey10

$text-on-white:				$grey13

$colored-on-light-yellow:	$dark-green
$colored-on-light-orange: 	$dark-purple
$colored-on-light-peach:	$purple
$colored-on-light-pink:		$dark-green
$colored-on-light-green: 	$dark-pink

// --- INTERACTIVE

// default

$interactive-default:		$blue4
$interactive-active:		$blue5

$text-on-interactive-default:	$white
$text-on-interactive-active:	$white

// darks

$interactive-on-dark-green:			$blue0
$text-on-interactive-on-dark-green:	$blue5
$interactive-active-on-dark-green:			$blue1
$text-on-interactive-active-on-dark-green:	$blue6

$interactive-on-dark-pink:			$blue0
$text-on-interactive-on-dark-pink:	$blue5
$interactive-active-on-dark-pink:			$blue1
$text-on-interactive-active-on-dark-pink:	$blue6

$interactive-on-dark-purple:			$blue0
$text-on-interactive-on-dark-purple:	$blue5
$interactive-active-on-dark-purple:			$blue1
$text-on-interactive-active-on-dark-purple:	$blue6

// lights

$interactive-on-light-yellow:			$blue5
$text-on-interactive-on-light-yellow:	$white
$interactive-active-on-light-yellow:			$blue6
$text-on-interactive-active-on-light-yellow:	$white

$interactive-on-light-orange:			$blue6
$text-on-interactive-on-light-orange:	$white
$interactive-active-on-light-orange:			$blue7
$text-on-interactive-active-on-light-orange:	$white

$interactive-on-light-peach:			$blue6
$text-on-interactive-on-light-peach:	$white
$interactive-active-on-light-peach:			$blue7
$text-on-interactive-active-on-light-peach:	$white

$interactive-on-light-pink:			$blue6
$text-on-interactive-on-light-pink:	$white
$interactive-active-on-light-pink:			$blue7
$text-on-interactive-active-on-light-pink:	$white

$interactive-on-light-green:			$blue5
$text-on-interactive-on-light-green:	$white
$interactive-active-on-light-green:			$blue6
$text-on-interactive-active-on-light-green:	$white

// ------------------
// ALPHA COLORS
// ------------------

$black-10-percent:							rgba($black, .1)
$black-20-percent:							rgba($black, .2)
$black-30-percent:							rgba($black, .3)
$black-40-percent:							rgba($black, .4)
$black-50-percent:							rgba($black, .5)
$black-60-percent:							rgba($black, .6)
$black-70-percent:							rgba($black, .7)
$black-80-percent:							rgba($black, .8)
$black-90-percent:							rgba($black, .9)

$pink-10-percent:							rgba($pink, .1)
$pink-20-percent:							rgba($pink, .2)
$pink-30-percent:							rgba($pink, .3)
$pink-40-percent:							rgba($pink, .4)
$pink-50-percent:							rgba($pink, .5)
$pink-60-percent:							rgba($pink, .6)
$pink-70-percent:							rgba($pink, .7)
$pink-80-percent:							rgba($pink, .8)
$pink-90-percent:							rgba($pink, .9)

$green-10-percent:							rgba($green, .1)
$green-20-percent:							rgba($green, .2)
$green-30-percent:							rgba($green, .3)
$green-40-percent:							rgba($green, .4)
$green-50-percent:							rgba($green, .5)
$green-60-percent:							rgba($green, .6)
$green-70-percent:							rgba($green, .7)
$green-80-percent:							rgba($green, .8)
$green-90-percent:							rgba($green, .9)
