
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

// --- ALL - HC CONTAINER

div.hc-container
	box-sizing: border-box

div.hc-header-and-hero-container
	background-repeat: no-repeat
	background-size: cover
	background-position: center

// --- ALL - HEADER

header
	// z-index: $z-index-sticky-header

	h1.brand__link__header
		padding: 0

	span.brand__link__header__text
		+inline-hidden

	button.brand__link__header__image
		margin: 0
		padding: 0
		// font-size: 0
		background-color: transparent
		border: 0
		cursor: pointer

		svg
			
			path.letterforms
				fill: $white


// --- ALL - HC ORG

div#hc-container

	div#hc-organization-body

		div#hc-organization-command-bar
			margin-bottom: 2rem

		a.org-chart-link
			+button
			+button-white
			+button-icon-before
			+icon-org-chart-before

		a.hub-team-link
			+button
			+button-white
			+button-icon-before
			+icon-link-before










































