
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS


// --- LARGE - HC CONTAINER

@media screen and (min-width: $large-screen-minimum-width)
	
	div.hc-header-and-hero-container
		background-image: linear-gradient(to bottom, $blue8-80-percent, $blue8-30-percent 20%, transparent 100%), linear-gradient(to right, transparent, $blue8-10-percent 40%, $blue8-60-percent 50%, $blue8-60-percent 90%, $blue8-20-percent 100%), linear-gradient(to bottom right, $blue8-60-percent, $green-20-percent), url('../../img/bkgrd-milky-way.jpg'), url('/sites/hubdev/DevCode5/img/bkgrd-milky-way.jpg')



// --- LARGE - HERO SECTION

@media screen and (min-width: $large-screen-minimum-width)

	div#staff-lookup-and-background-info-and-top-messages

		div#staff-lookup-and-background-info
			width: 50%

// --- LARGE - MESSAGES

@media screen and (min-width: $large-screen-minimum-width)
		
		// top messages
			
		div#hc-messages-top
			width: 50%

			ul#hc-messages-list
				column-count: 2
				column-gap: 2rem

				li.hc-messages-message-preview:nth-child(3),
				li.hc-messages-message-preview:nth-child(4)
					display: block !important

				li.hc-messages-message-preview
					break-inside: avoid
					page-break-inside: avoid
					

