
// ----- IMPORTS

@import './hub-vars'
@import './hub-mixins'

// ----- DECLARATIONS

@media screen and (min-width: $medium-screen-minimum-width)

	div#s4-workspace
		font-size: $medium-screen-type-scale-factor-s

	h1
		font-size: $medium-screen-type-scale-factor-xxl
	
	h2
		font-size: $medium-screen-type-scale-factor-xl

	h3
		font-size: $medium-screen-type-scale-factor-l
	
	h4
		font-size: $medium-screen-type-scale-factor-m
