
// sass-lint:disable no-vendor-prefixes

// ----- IMPORTS

@import './hub-vars'
@import './hub-mixins'

// ----- DECLARATIONS

// HTML & BODY

html
	font-size: 10px
	box-sizing: border-box
	height: 100%

*,
*::before,
*::after
	box-sizing: border-box

body
	margin: 0
	height: 100%

form#aspnetForm
	margin: 0

// OFFICE 365 SUITE BAR

// this is set to all black in the master page, so that it renders in a neutral color
// 		as soon as the page loads; these colors override those in the mast page; the strategy
// 		is to keep the "real" colors all managed here, rather than having to update the master
// 		page in the future

div#suiteBarDelta

	div#suiteBarTop

		div#O365_NavHeader
			background-color: $grey-16

			button.ms-bgc-tp
				background-color: $interactive-default

			button.ms-bgc-tdr-h:hover,
			button.ms-bgc-tp:hover
				background-color: $interactive-active

// INTERNET EXPLORER
#internet-explorer-upgrade
	display: none

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	#internet-explorer-upgrade
		color: $green-5

// TYPE, LISTS, & LINKS

div#hc-container,
div#s4-workspace,
div.ReactModal__Content.ReactModal__Content--after-open.hc-messages-message-full-message-modal
	+font-size-5
	+font-weight-light
	font-family: 'Segoe UI', 'Segoe', Roboto, Helvetica Neue, Helvetica,  Arial, sans-serif
	color: $grey-15
	background-color: $white
	box-sizing: border-box

	h1
		+font-size-2
		+line-height-title
		+font-weight-regular
		margin-top: $spacing-3
		margin-bottom: $spacing-1
		color: $grey-15

	h2
		+font-size-2
		+line-height-title
		+font-weight-light
		margin-top: $spacing-3
		margin-bottom: $spacing-1
		color: $grey-15

	h3
		+font-size-3
		+line-height-title
		+font-weight-light
		margin-top: $spacing-3
		margin-bottom: $spacing-1
		color: $grey-15

	h4
		+font-size-4
		+line-height-title
		+font-weight-light
		margin-top: $spacing-3
		margin-bottom: $spacing-1
		color: $grey-15

	h5
		+font-size-5
		+line-height-title
		+font-weight-light
		margin-top: $spacing-2
		margin-bottom: $spacing-1
		color: $grey-15

	h6
		+font-size-5
		+line-height-title
		+font-weight-light
		margin-top: $spacing-2
		margin-bottom: $spacing-1
		color: $grey-15

	p
		margin: 0 0 1rem 0

	ul,
	ol
		list-style-position: inside
		margin: 0 0 1rem 0
		padding: 0

	ul ul,
	ol ol
		margin: 0
		padding: 0

	ul li,
	ol li
		list-style-position: outside
		vertical-align: text-top
		margin: 0 0 .25rem 1.8rem

	ul li
		list-style-type: square
		list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIElEQVQoU2NkIAAY09LS/qOrmTVrFiNMbFAoIOgLQgoAA4QUCSjONAIAAAAASUVORK5CYII=')

	ul ul li
		list-style-type: disc
		list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAATElEQVQoU2NkIAAYQfIzZ878f//+fQZFRUWG9PR0sBgMMIIkz549CxcwNjZGUcRYUVHx/927d3AFQkJCDB0dHXBTCJtA0A1E+QKfIgBQeyMJtPI08AAAAABJRU5ErkJggg==')

	a,
	a:visited
		+link-text

		&:hover,
		&:active
			+link-text-active

// ICON FONT

@font-face
  font-family: FabricMDL2Icons
  src: url('../../fonts/fabricmdl2icons-2.68.woff2') format('woff2'), url('../../fonts/fabricmdl2icons-2.68.woff') format('woff'), url('../../fonts/fabricmdl2icons-2.68.ttf') format('truetype')
  font-weight: 400
  font-style: normal

// STANDARD FORM ELEMENTS

// select / dropdown

div.ms-Dropdown

	span.ms-Dropdown-title
		+round-corners
		border: 0
		// +standard-form-control-border

div.ms-Dropdown-callout
	+round-corners
	+small-shadow-bottom-right-medium-color

// text

div.ms-TextField-fieldGroup
	+round-corners
	border: 0


// DATE PICKER

div.ms-DatePicker-callout
	+round-corners
	+small-shadow-bottom-right-medium-color

	div.ms-Callout-main
		+round-corners

	div.ms-DatePicker-frame

		div.ms-DatePicker-wrap
			padding-bottom: 3rem

	div[class^='divider']
		margin-top: 0
		margin-bottom: -2rem

	div[class^='day']
		background-color: $interactive-light

	div.ms-DatePicker-day--today
		background-color: $interactive-default
		color: $white

	div[id^='DatePickerDay-active']
		background-color: $green-7
		color: $white

	td.ms-DatePicker-day
		background-color: transparent
		transition: background-color .25s

	td.ms-DatePicker-day:hover
		outline: 0
		background-color: $interactive-light

	div.ms-DatePicker-navContainer

		button.ms-DatePicker-prevMonth,
		button.ms-DatePicker-nextMonth,
		button.ms-DatePicker-prevYear,
		button.ms-DatePicker-nextYear
			transition: background-color .25s, color .25s

			i
				color: $interactive-default

			&:hover
				background-color: $interactive-light

				i
					color: $interactive-active

	div.ms-DatePicker-optionGrid

		button.ms-DatePicker-monthOption
			color: $interactive-default
			transition: background-color .25s, color .25s
			
			&:hover
				color: $interactive-active
				background-color: $interactive-light

	button.ms-DatePicker-goToday
		color: $interactive-default
		transition: background-color .25s, color .25s
		
		&:hover
			color: $interactive-active
			background-color: $interactive-light



// PEOPLE PICKER

div#hc-container

	div.ms-BasePicker.ms-PeoplePicker
		box-sizing: border-box
		border: 0
		background-color: $white

		div.ms-BasePicker-text
			border: 0

			div.ms-PickerPersona-container
				color: $grey-15
				background-color: $grey-2

			div.ms-PickerPersona-container.is-selected.personaContainerIsSelected
				background-color: $grey-2

			div.ms-Persona-primaryText
				color: $grey-15

			button.ms-Button.ms-PickerItem-removeButton
				width: 2.6rem
				font-size: 0
				color: $text-on-interactive-default
				background-color: $interactive-default
				transition: background-color .25s
				border: 0

				&:hover
					background-color: $interactive-active

		input.ms-BasePicker-input
			border: 0
			color: $grey-15
			background-color: $white

// COMMAND BAR

div#hc-container

	div.ms-CommandBar
		background-color: transparent

		div.ms-CommandBar-primaryCommands
			margin: 0

			div.ms-CommandBarItem:hover
				height: 5rem
				background-color: transparent

			button.ms-CommandBarItem-link
				height: 4rem
				margin: 0
				color: $interactive-default-darkened-1
				background-color: $interactive-light
				transition-property: color, background-color
				transition-duration: .25s

				&:hover
					+small-shadow-bottom-right-light-color
					color: $interactive-active-darkened-1
					background-color: $interactive-light-active
					z-index: $z-index-command-bar-button-active

					i.ms-CommandBarItem-icon
						color: $interactive-active-darkened-1

				i.ms-CommandBarItem-icon
					+font-weight-semibold
					color: $interactive-default-darkened-1
					transition-property: color
					transition-duration: .25s
				
				span.ms-CommandBarItem-commandText
					+font-weight-semibold
			
			div.ms-CommandBarItem:first-child

				button.ms-CommandBarItem-link
					+round-corners-left
			
			div.ms-CommandBarItem:last-child

				button.ms-CommandBarItem-link
					+round-corners-right

					&:hover
						+small-shadow-bottom-left-light-color
			
div#hc-container
	
	.accordion__body

		div.ms-CommandBar

			div.ms-CommandBar-primaryCommands

				button.ms-CommandBarItem-link
					color: $aqua-7
					background-color: $aqua-1

					&:hover
						color: $aqua-8
						background-color: $aqua-2

					i.ms-CommandBarItem-icon
						color: $aqua-7

						&:hover
							color: $aqua-8
							background-color: $aqua-2

// ACCORDION

div#hc-container
	.u-position-absolute
		position: absolute


	.u-position-relative
		position: relative

	.accordion__item--has-icon
		position: relative


	.accordion__title
		background-color: $white
		color: $interactive-default
		cursor: pointer
		padding: 1rem 2rem
		width: 100%
		text-align: left
		border-bottom: .1rem solid $grey-3
		transition: color .25s

		h1,
		h2,
		h3,
		h4,
		h5,
		h6
			color: $interactive-default
			transition: color .25s

	.accordion__title:hover
		color: $interactive-active

		h1,
		h2,
		h3,
		h4,
		h5,
		h6
			color: $interactive-active
			transition: color .25s

	.accordion__title[aria-expanded='true']
		border-bottom: 0

	.accordion__title__text
		padding-right: 4rem

	.accordion__body
		padding: 2rem
		display: block
		background-color: $grey-1
		animation: fadein .35s ease-in


	.accordion__body--hidden
		display: none
		opacity: 0
		animation: fadein .35s ease-in


	.accordion__title > *:last-child,
	.accordion__body > *:last-child
		margin-bottom: 0


	.accordion__arrow
		display: inline-block
		// position: relative
		width: 24px
		height: 12px
		position: absolute
		top: 50%
		right: 0
		margin-top: -6px


	.accordion__arrow::after,
	.accordion__arrow::before
		display: block
		position: absolute
		top: 50%
		width: 10px
		height: 2px
		background-color: currentColor
		content: ''


	.accordion__arrow::before
		left: .4rem
		transform: rotate(45deg)


	[aria-expanded='true'] .accordion__arrow::before,
	[aria-selected='true'] .accordion__arrow::before
		transform: rotate(-45deg)


	.accordion__arrow::after
		right: .4rem
		transform: rotate(-45deg)


	[aria-expanded='true'] .accordion__arrow::after,
	[aria-selected='true'] .accordion__arrow::after
		transform: rotate(45deg)


	.accordion__arrow::before,
	.accordion__arrow::after
		transition: transform .25s ease

	@keyframes fadein
		0%
			opacity: 0
		

		100%
			opacity: 1
		


	@keyframes move-down
		0%
			transform: translateY(0)
		
		10%
			transform: translateY(0)
		
		20%
			transform: translateY(5px)
		
		30%
			transform: translateY(0)
		
		100%
			transform: translateY(0)
		


	@keyframes move-up
		0%
			transform: translateY(0)
		
		10%
			transform: translateY(0)
		
		20%
			transform: translateY(-5px)
		
		30%
			transform: translateY(0)
		
		100%
			transform: translateY(0)

		
	.accordion__title--animated:hover .accordion__arrow
		animation-name: move-down
		animation-duration: 1.5s


	.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow
		animation-name: move-up
		animation-duration: 1.5s

	.accordion ul
		margin: 0

	.accordion__item

		> li
			list-style: none
			margin: 0

	.accordion__body
		border-left: .1rem solid $grey-3

// PERSONA CARD

div#hc-container

	ul.persona-cards__list
		padding: 0
		margin: 0

	div.hc-organization__teams__department-member-body
		padding-right: 2rem

	div.hc-organization-teams-member-persona,
	li.hc-staff-lookup-persona
		width: 100%
		margin: 2rem 0 0 0
		background-color: $white

		div.persona-card-dialog-header
			vertical-align: middle
			padding: 2rem
			text-align: center
			
			span.avatar
				+font-weight-light
				display: inline-block
				vertical-align: top
				width: 7rem
				height: 7rem
				font-size: 4rem
				line-height: 4rem
				padding: 1.3rem 0 1.7rem
				border-radius: 50%
				color: $white
				background-color: $purple-5
				text-align: center

			p.name
				+font-size-2
				padding: 2rem 2rem 1rem 0
				color: $purple-9

			p.title,
			p.department
				margin-bottom: 0
				padding: 0 2rem 0 0
			
			p.department
				+font-size-6
				color: $pink-7
		
		ul.persona-card-dialog-body
			padding: 0 0 1rem 0
			margin: 0

			li.phone-numbers,
			li.email,
			li.profile
				list-style: none
				word-wrap: break-word
				width: 100%
				margin: 0 0 1rem 0
				padding: 2rem
				text-align: center
				background-color: $coral-3
				color: $grey-11
			
			i.section-icon--phone,
			i.section-icon--email,
			i.section-icon--profile
				display: block
				margin-top: .5rem
				color: $purple-9					

			li.phone-numbers

				ul
					margin: 0

					li.mobile-phone-number,
					li.office-phone-number
						list-style: none
						margin: 0

				span.phone-number-label
					+font-size-6
					display: block

				span.phone-number-separator
					+inline-hidden

			li.email,
			li.profile

				a
					color: $aqua-6 !important

					&:hover
						color: $aqua-7 !important

			p.ui-message
				padding: 2rem
				text-align: center
				background-color: $coral-3
				color: $grey-11


	div.hc-organization-teams-member-persona
		margin: 0

// MAINTENANCE MODE

body.is-in-maintenance-mode

	div#hub-central-mount-point
		display: none

	div#overlays-screen-container
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		width: 100%
		text-align: center
		z-index: $z-index-overlay-screen-container
		background-color: $white

	div.overlay-screen
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		width: 100%
		text-align: center
		z-index: $z-index-overlay-screen

		div.screen-content
			display: inline-block
			white-space: normal
			vertical-align: middle

			p
				font-size: 3.5rem
				line-height: 4rem
				color: $grey-5
				text-rendering: optimizelegibility

			a,
			input[type='button']
				margin: 2rem auto 0

	div#overlays-screen-container
		
		div.overlay-screen#maintenance-mode

			div.screen-content
				padding: 5rem

				a
					display: block
					width: 30rem
					margin-bottom: 2rem

					svg
						width: 20rem
						
						g.letterforms
							fill: $white





















