
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

// --- SMALL - SUITEBAR

@media screen and (max-width: $small-screen-maximum-width)
	
	div#suiteBarDelta
		transition: height .25s

// --- SMALL - HC CONTAINER

@media screen and (max-width: $small-screen-maximum-width)
	
	div.hc-header-and-hero-container
		background-image: linear-gradient(to bottom right, $blue8-60-percent, $green-20-percent), url('../../img/bkgrd-milky-way.jpg'), url('/sites/hubdev/DevCode5/img/bkgrd-milky-way.jpg')

// --- SMALL - HEADER

@media screen and (max-width: $small-screen-maximum-width)

	header#hc-header
		position: relative
		// z-index: $z-index-sticky-header
		width: 100%
		
		div#hamburger-and-brand-container
			// background-color: $grey14
			height: 5rem

		div.hamburger
			position: absolute
			left: 0
			top: 0
			width: 5rem
			height: 5rem
		
		div.brand
			position: absolute
			left: 50%
			top: 0
			height: 5rem
			margin-left: -2.5rem

			h1.brand__link__header
				font-size: 0

				button.brand__link__header__image
					display: inline-block
					padding: 1rem 0
					
					div.svg-brand--logo-only

						svg
							height: 3rem

	// STUCK
	
	div.sticky-outer-wrapper.active

		div.sticky-inner-wrapper
			z-index: $z-index-sticky-header
			background-color: $grey14


	// SHOWING SMALL NAV
	
	body.showing-small-nav

		div.sticky-inner-wrapper
			z-index: $z-index-sticky-header
			background-color: $grey14

// --- SMALL - HAMBURGER

@media screen and (max-width: $small-screen-maximum-width)

	.hamburger__button
		display: inline-block
		min-width: 0
		padding: 1.6rem 1.2rem
		transition-property: background-color, filter
		transition-duration: .15s
		transition-timing-function: linear
		font-size: 0
		color: inherit
		text-transform: none
		background-color: transparent
		border: 0
		margin: 0
		overflow: visible
		cursor: pointer
		
		&:hover
			background-color: $interactive-active

		.hamburger__lines
			display: inline-block
			position: relative
			width: 26px
			height: 18px

			.hamburger__lines__contents
				display: block
				// top: 2px
				// margin-top: -2px
				transition-duration: .275s
				transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55)

			.hamburger__lines__contents,
			.hamburger__lines__contents::before,
			.hamburger__lines__contents::after
				position: absolute
				width: 26px
				height: 1px
				background-color: $white
				transition-property: transform
				transition-duration: .15s
				transition-timing-function: ease

			.hamburger__lines__contents::before,
			.hamburger__lines__contents::after
				content: ''
				display: block

			.hamburger__lines__contents::before
				top: 8px
				transition: opacity .125s .275s ease

			.hamburger__lines__contents::after
				top: 16px
				transition: transform .275s cubic-bezier(.68, -.55, .265, 1.55)

	div#hc-container.showing-small-nav
		
		.hamburger__button
			background-color: $interactive-active

			.hamburger__lines

				.hamburger__lines__contents
					transform: translate3d(0, 8px, 0) rotate(135deg)
					transition-delay: .075s

				.hamburger__lines__contents::before
					transition-delay: 0s
					opacity: 0

				.hamburger__lines__contents::after
					transform: translate3d(0, -16px, 0) rotate(-270deg)
					transition-delay: .075s

// --- SMALL - NAVIGATION

@media screen and (max-width: $small-screen-maximum-width)

	nav#hc-navigation
		width: 100%
		height: 0
		overflow: hidden
		transition: height .25s

		ul#hc-navigation__items
			// top padding = viewport height - ul height, divided by 2 to get half, 
			// 		minus height of hamburger and brand container 
			padding: calc(((100vh - 25rem) / 2) - 5rem) 0 0 0
			margin: 0
			list-style: none

			li.hc-navigation__items__item
				list-style: none
				margin-top: -2rem
				margin-left: -2rem
				opacity: 0
				transition-property: opacity, margin-left, margin-top
				transition-duration: .5s

				button.hc-navigation__items__item__button
					width: 100%
					height: 5rem
					border: 0
					margin-left: 0
					padding: 0 5rem
					text-align: left
					font-size: 1.7rem
					text-transform: uppercase
					background-color: transparent
					color: $interactive-default
					transition-property: background-color, color
					transition-duration: .25s

					&:hover
						border: 0
						color: $white
						background-color: $interactive-default

						i.ms-Button-icon
							color: $yellow

					i.ms-Button-icon
						color: $orange
						transition: color .25s

					div.ms-Button-textContainer
						padding-left: 1rem

						div.label-42
							font-weight: 400
			
			li.hc-navigation__items__item:nth-child(1)
				transition-delay: .2s

			li.hc-navigation__items__item:nth-child(2)
				transition-delay: .25s

			li.hc-navigation__items__item:nth-child(3)
				transition-delay: .3s

			li.hc-navigation__items__item:nth-child(4)
				transition-delay: .35s

			li.hc-navigation__items__item:nth-child(5)
				transition-delay: .4s

			li.hc-navigation__items__item:nth-child(6)
				transition-delay: .45s

	// show 
		
	body.showing-small-nav
		
		div#suiteBarDelta
			height: 0

			div#suiteBarTop
				height: 0 !important
		
		header#hc-header
			
			nav#hc-navigation
				position: fixed
				top: 5rem
				width: 100%
				height: 100%
				z-index: $z-index-sticky-header
				background-color: $white

			ul#hc-navigation__items

				li.hc-navigation__items__item
					margin-top: 0
					margin-left: 0
					opacity: 1

	// when small nav is showing, disable scrolling the content beneath the nav

	body.showing-small-nav
		overflow: hidden

// --- SMALL - HERO

@media screen and (max-width: $small-screen-maximum-width)

	div#hero-container
		padding: 6rem 2rem 4rem 2rem
			
		h2
			+font-weight-semibold
			font-size: $small-screen-type-size-m !important

// --- SMALL - HC SECTIONS / ACCORDION

@media screen and (max-width: $small-screen-maximum-width)

	div#hc-container
		
		div.hc-sections-container.accordion

			div.hc-pushed-items__title.accordion__title,
			div.hc-get-it-done__title.accordion__title,
			div.hc-organization__title.accordion__title,
			div.hc-messages-all__title.accordion__title,
			div.hc-calendars-and-schedules__title.accordion__title
				padding: 3rem 2rem
				background-color: $blue7

				&:hover
					background-color: $blue8

				h2
					
					div.accordion__title__text
						+font-weight-regular
						font-size: $small-screen-type-size-m !important
						color: $white
					
					div.accordion__arrow
						color: $white

// --- SMALL - MESSAGES

@media screen and (max-width: $small-screen-maximum-width)

	// all messages

	div#hc-messages-all

		ul#hc-messages-list

			li.hc-messages-message-preview
				list-style: none
				padding: 2rem
				background-color: $white
				margin: 2rem 0 0 0

				h3.hc-messages-message-subject
					+font-weight-regular
					font-size: $small-screen-type-size-m

				button.hc-messages-message-full-message-button
					+button
					+button-colored
					display: block
					margin: 1rem 0 0 0 !important

	// inline full

	div#hc-messages-all

		ul#hc-messages-list

			li.hc-messages-message-preview

				div.hc-messages-message-image-container

					img.hc-messages-message-image
						max-width: 100%
						margin-bottom: 2rem

				p.hc-messages-message-creator
					+font-weight-regular
					margin: 0
					color: $grey10
				
				p.hc-messages-message-created,
				p.hc-messages-message-tags
					font-style: italic
					color: $grey8

				div.hc-messages-message-body
					padding-bottom: 2rem
					color: $grey13

				button.hc-messages-message-control
					+button
					+button-colored
					margin: 1rem 0 0 0 !important

// --- SMALL - HC ORG

@media screen and (max-width: $small-screen-maximum-width)

	div#hc-organization

		div.accordion__body
			padding-right: 0

		div.accordion__body.hc-organization__teams__department-member-body
			padding-right: 2rem

// --- SMALL - FOOTER

@media screen and (max-width: $small-screen-maximum-width)

	footer
		font-size: $small-screen-type-size-xs
		padding: 2rem












































