
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

// --- ALL - SP CHROME

body.contains-hub-central

	div#s4-ribbonrow,
	div#s4-workspace
		display: none !important

// --- ALL - HC CONTAINER

div.hc-container
	box-sizing: border-box

// --- ALL - HEADER,HERO CONTAINER

div.hc-header-and-hero-container
	background-repeat: no-repeat
	background-size: cover
	background-position: center

// --- ALL - HEADER

div#hc-container
	
	header

		h1.brand__link__header
			margin: 0

		span.brand__link__header__text
			+inline-hidden

		button.brand__link__header__image
			margin: 0
			padding: 0
			background-color: transparent
			border: 0
			cursor: pointer

			svg
				
				g.letterforms
					fill: $white

// --- ALL - HERO

div#hero-container

	div#hc-staff-lookup
		
		h2
			color: $white

		h3.persona-cards__header
			+block-hidden

// --- ALL - STAFF LOOKUP

div#hc-staff-lookup

	h3.persona-cards__header
		+block-hidden

// --- ALL - PUSHED ITEMS

div#hc-pushed-items
	background-color: $grey-1

	li.hc-pushed-items-item
		+round-corners
		+flex-row
		+small-shadow-bottom-right-very-light-color
		+font-weight-regular
		list-style: none
		min-height: 5.2rem
		padding: 1.1rem 1rem .9rem
		background-color: $white
		margin: 0 0 1rem 0
		
		div.hc-pushed-items-item-primary-link-container,
		div.hc-pushed-items-item-secondary-link-and-link-control-container
			+flex-column

		div.hc-pushed-items-item-primary-link-container
			width: 70%
			margin-right: 2rem

			a.hc-pushed-items-item-primary-link
				+font-weight-regular

		div.hc-pushed-items-item-secondary-link-and-link-control-container
			width: 30%
			justify-content: end

			div.hc-pushed-items-item-secondary-link-control-container
				margin-left: auto
				transform: scale(1)
				transition: transform .25s
			
				button.hc-pushed-items-item-secondary-link-control
					width: 2.4rem
					background-color: $white

					i.ms-Button-icon
						+font-weight-semibold

					div.ms-Button-textContainer
						+block-hidden
			
			div.hc-pushed-items-item-secondary-link-container

				a.hc-pushed-items-item-secondary-link
					+icon
					+icon-before
					+circular-before
					
					&::before
						+font-size-6
						padding: .5rem
						border: 1px solid transparent
				
					&:hover
						
						&::before
							border-color: inherit

					span.hc-pushed-items-item-secondary-link-text-container
						+inline-hidden


				a.hc-pushed-items-item-display-only-link
					+icon-reading-mode-before

				a.hc-pushed-items-item-handle-file-link
					+icon-print-before

				a.hc-pushed-items-item-navigation-link
					+icon-forward-before










						
// --- ALL - HC GET IT DONE

div#hc-get-it-done

	div#hc-get-it-done-view-by-group

		div.hc-get-it-done-group
			margin-bottom: 3rem
		
		li.hc-get-it-done-item
			list-style: none

		div.hc-get-it-done-item,
		li.hc-get-it-done-item
			margin: 1rem 0 2rem 0

	div#hc-get-it-done-view-by-alpha
		
		li.hc-get-it-done-item
			list-style: none

	p.hc-get-it-done-item-link-container
		+font-weight-regular
		margin-bottom: 0

// --- ALL - HC ORG

div#hc-container

	div#hc-organization-body

		// COMMAND BAR

		div#hc-organization-command-bar
			margin-bottom: 2rem

		// DIVS, DEPTS, TEAMS

		a.org-chart-link
			+button
			+button-anchor
			+button-white
			+button-icon-before
			+icon-org-chart-before

		a.hub-team-link
			+button
			+button-anchor
			+button-white
			+button-icon-before
			+icon-link-before

		// STAFF LOOKUP

		div#hc-staff-lookup

			div#hc-staff-lookup__picker-and-personas

				div#picker
					+round-corners
					padding: 2rem
					background-color: $grey-1

// --- ALL - MESSAGES

div#hc-container

	// new message form
	div#hc-messages-new-message-form
		margin-top: 1rem !important

		button#new-message-save-button
			+button
			+button-colored
			+button-icon-before
			+icon-save-before
			margin-top: 1rem !important
			width: 11rem

		button#new-message-close-button
			+button
			+button-white
			+button-icon-before
			+icon-close-before
			margin-top: 1rem !important
			width: 11rem

	// the 'no messages' message
	div#hc-messages-no-messages-message
		margin-top: 2rem !important

// --- ALL - FOOTER

footer
	color: $grey-10
	background-color: $grey-17







































