
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

// --- SMALL - HC CONTAINER

@media screen and (max-width: $small-screen-maximum-width)
	
	div.hc-header-and-hero-container
		background-image: linear-gradient(to bottom right, $blue8-60-percent, $green-20-percent), url('../../img/bkgrd-milky-way.jpg'), url('/sites/hubdev/DevCode5/img/bkgrd-milky-way.jpg')

// --- SMALL - HEADER

@media screen and (max-width: $small-screen-maximum-width)

	header#hc-header
		position: relative
		z-index: $z-index-sticky-header
		width: 100%
		
		div#hamburger-and-brand-container
			background-color: $grey14-95-percent
			height: 5rem

		div.hamburger
			position: absolute
			left: 0
			top: 0
			width: 5rem
			height: 5rem
		
		div.brand
			position: absolute
			left: 50%
			top: 0
			height: 5rem
			margin-left: -2.5rem

			h1.brand__link__header
				font-size: 0

				button.brand__link__header__image
					display: inline-block
					padding: 1rem 0
					
					div.svg-brand--logo-only

						svg
							height: 3rem

// --- SMALL - HAMBURGER

@media screen and (max-width: $small-screen-maximum-width)

	.hamburger__button
		display: inline-block
		min-width: 0
		padding: 1.6rem 1.2rem
		transition-property: background-color, filter
		transition-duration: .15s
		transition-timing-function: linear
		font-size: 0
		color: inherit
		text-transform: none
		background-color: transparent
		border: 0
		margin: 0
		overflow: visible
		cursor: pointer
		
		&:hover
			background-color: $interactive-active

		.hamburger__lines
			display: inline-block
			position: relative
			width: 26px
			height: 18px

			.hamburger__lines__contents
				display: block
				// top: 2px
				// margin-top: -2px
				transition-duration: .275s
				transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55)

			.hamburger__lines__contents,
			.hamburger__lines__contents::before,
			.hamburger__lines__contents::after
				position: absolute
				width: 26px
				height: 1px
				background-color: $white
				transition-property: transform
				transition-duration: .15s
				transition-timing-function: ease

			.hamburger__lines__contents::before,
			.hamburger__lines__contents::after
				content: ''
				display: block

			.hamburger__lines__contents::before
				top: 8px
				transition: opacity .125s .275s ease

			.hamburger__lines__contents::after
				top: 16px
				transition: transform .275s cubic-bezier(.68, -.55, .265, 1.55)

	div#hc-container.showing-small-nav
		
		.hamburger__button
			background-color: $interactive-active

			.hamburger__lines

				.hamburger__lines__contents
					transform: translate3d(0, 8px, 0) rotate(135deg)
					transition-delay: .075s

				.hamburger__lines__contents::before
					transition-delay: 0s
					opacity: 0

				.hamburger__lines__contents::after
					transform: translate3d(0, -16px, 0) rotate(-270deg)
					transition-delay: .075s


// --- SMALL - NAVIGATION

@media screen and (max-width: $small-screen-maximum-width)

	nav#hc-navigation
		width: 100%
		height: 0
		overflow: hidden
		transition: height .25s

		ul#hc-navigation__items
			// top padding = viewport height - ul height, divided by 2 to get half, 
			// 		minus height of hamburger and brand container 
			padding: calc(((100vh - 25rem) / 2) - 5rem) 0 0 0
			margin: 0
			list-style: none

			li.hc-navigation__items__item
				list-style: none
				margin-top: -2rem
				margin-left: -2rem
				// opacity: 0
				transition-property: opacity, margin-left, margin-top
				transition-duration: .5s

				button.hc-navigation__items__item__button
					width: 100%
					height: 5rem
					border: 0
					margin-left: 0
					padding: 0 5rem
					text-align: left
					font-size: 1.7rem
					text-transform: uppercase
					background-color: transparent
					color: $interactive-default
					transition-property: background-color, color
					transition-duration: .25s

					&:hover
						border: 0
						color: $white
						background-color: $interactive-default

						i.ms-Button-icon
							color: $yellow

					i.ms-Button-icon
						color: $orange
						transition: color .25s

					div.ms-Button-textContainer
						padding-left: 1rem

						div.label-42
							font-weight: 400
			
			li.hc-navigation__items__item:nth-child(1)
				transition-delay: .2s

			li.hc-navigation__items__item:nth-child(2)
				transition-delay: .25s

			li.hc-navigation__items__item:nth-child(3)
				transition-delay: .3s

			li.hc-navigation__items__item:nth-child(4)
				transition-delay: .35s

			li.hc-navigation__items__item:nth-child(5)
				transition-delay: .4s

			li.hc-navigation__items__item:nth-child(6)
				transition-delay: .45s

	// show 
	
	// handle top position of nav separately 
	
	div#hc-container.showing-small-nav
		
		header#hc-header
			
			nav#hc-navigation
				position: fixed
				top: 10rem
				width: 100%
				height: 100%
				z-index: $z-index-sticky-header
				background-color: $white

			ul#hc-navigation__items

				li.hc-navigation__items__item
					margin-top: 0
					margin-left: 0
					// opacity: 1

	// top position of nav here

	// with no scrolling - suite bar is still showing
	
	div#hc-container.showing-small-nav
		
		div.sticky-outer-wrapper
		
			header#hc-header
				
				nav#hc-navigation
					top: 10rem

	// with scrolling - suite bar is no longer showing
	
	div#hc-container.showing-small-nav
		
		div.sticky-outer-wrapper.active
			
			header#hc-header
				
				nav#hc-navigation
					position: fixed
					z-index: $z-index-sticky-header
					top: 5rem

	// when small nav is showing, disable scrolling the content beneath the nav

	body.showing-small-nav
		overflow: hidden

// --- SMALL - HERO

@media screen and (max-width: $small-screen-maximum-width)

	div#hero-container
		padding: 5rem 2rem 2rem 2rem

// --- SMALL - STAFF LOOKUP

@media screen and (max-width: $small-screen-maximum-width)

	div#hc-staff-lookup
		
		h2
			color: $white

		h3.persona-cards__header
			+block-hidden













