
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

// --- MEDIUM - HC CONTAINER

@media screen and (min-width: $medium-screen-minimum-width)

	div.hc-header-and-hero-container
		background-image: linear-gradient(to bottom, $blue8-80-percent, $blue8-10-percent 20%, $blue8-10-percent 100%), linear-gradient(to right, transparent, $blue8-10-percent 50%, $blue8-60-percent 60%, $blue8-60-percent 90%, $blue8-20-percent 100%), linear-gradient(to bottom right, $blue8-60-percent, $green-20-percent), url('../../img/bkgrd-milky-way.jpg'), url('/sites/hubdev/DevCode5/img/bkgrd-milky-way.jpg')

// --- MEDIUM - HEADER

@media screen and (min-width: $medium-screen-minimum-width)

	// DEFAULT

	div.sticky-outer-wrapper

		header
			width: 100%


			nav#hc-navigation
				width: 100%


	// STUCK
	
	div.sticky-outer-wrapper.active

		div.sticky-inner-wrapper
			z-index: $z-index-sticky-header
			background-color: $grey14-95-percent


// --- MEDIUM - NAVIGATION

@media screen and (min-width: $medium-screen-minimum-width)

	// DEFAULT

	div.sticky-outer-wrapper

		nav#hc-navigation

			ul#hc-navigation__items
				display: flex
				margin: 0
				padding: 0
				justify-content: space-between

				li.hc-navigation__items__item
					display: block
					margin-left: 0

					button.hc-navigation__items__item__button
						+font-weight-semibold
						min-width: 0
						height: 7rem
						border: 0
						margin: 0
						padding: 0 3rem
						text-align: left
						font-size: 1.3rem
						background-color: transparent
						color: $white
						
						div.ms-Button-flexContainer
							height: 3rem

							i.ms-Button-icon
								font-size: 1.8rem

							div.ms-Button-textContainer
								+inline-hidden

					div.brand
						height: 7rem

						h1
							font-size: 0

							button.brand__link__header__image
								height: 7rem

								div.svg-brand--logo-only
									width: 5.5rem
									text-align: left

									svg
										height: 3rem

				li.hc-navigation__items__item:first-child

					button.brand__link__header__image
						padding-left: 5rem

						div.ms-Button-flexContainer

							i.ms-Button-icon
								margin: 0

				li.hc-navigation__items__item:last-child

					button.hc-navigation__items__item__button
						padding-right: 5rem

						div.ms-Button-flexContainer

							i.ms-Button-icon
								margin: 0


	// STUCK

	div.sticky-outer-wrapper.active

		nav#hc-navigation

			ul#hc-navigation__items

				li.hc-navigation__items__item

					button.hc-navigation__items__item__button

						div.ms-Button-flexContainer

							i.ms-Button-icon
								color: $blue1


// --- MEDIUM - BACKGROUND IMAGE INFO

@media screen and (min-width: $medium-screen-minimum-width)
	
	div#hc-background-info-container
		flex-shrink: 0

		button.hc-background-info__button
			margin-left: 0
			margin-top: 2rem
			border: 0
			background-color: $blue7
			color: $text-on-blue7
			transition: background-color .25s

			&:hover
				background-color: $blue8
				color: $text-on-blue8

		div#hc-background-info__information
			padding: 2rem
			background-color: $grey15-80-percent
			color: $body-text-on-grey15

			h3
				// +font-weight-regular
				// font-size: $medium-screen-type-size-m
				color: $header-text-on-grey15

			a#photo-source-link,
			a#photographer-link
				color: $interactive-on-grey15 !important
				transition: color .25s

				&:hover
					color: $interactive-active-on-grey15


// --- MEDIUM - HERO SECTION

@media screen and (min-width: $medium-screen-minimum-width)

	div#staff-lookup-and-background-info-and-top-messages
		+flex-row
		padding-top: 2rem

		div#staff-lookup-and-background-info
			+flex-column
			width: 60%
			padding: 0 2.5rem 5rem 5rem


// --- MEDIUM - STAFF LOOKUP

@media screen and (min-width: $medium-screen-minimum-width)

	div#hc-staff-lookup
		flex: 1 0 auto
		
		h2
			color: $white

		h3.persona-cards__header
			+block-hidden


// --- MEDIUM - PUSHED ITEMS

@media screen and (min-width: $medium-screen-minimum-width)

	div#hero-container
		
		div#hc-pushed-items
			padding: 2rem
			margin: 2rem 0
			background-color: $white-80-percent

			ul#hc-pushed-items-list
				column-count: 3
				column-gap: 2rem

				li.hc-pushed-items-item
					break-inside: avoid
					page-break-inside: avoid
					

// --- MEDIUM - GET IT DONE

@media screen and (min-width: $medium-screen-minimum-width)
	
	div#hc-get-it-done
		padding: 5rem

		div#hc-get-it-done-view-by-group,
		div#hc-get-it-done-view-by-alpha > ul
			padding-top: 1rem
			column-count: 4
			column-gap: 0

		div#hc-get-it-done-view-by-alpha > ul > li.hc-get-it-done-item
			list-style: none

		div#hc-get-it-done-view-by-group div.hc-get-it-done-group,
		div#hc-get-it-done-view-by-alpha > ul > li.hc-get-it-done-item
			break-inside: avoid
			page-break-inside: avoid
			padding: 2rem
			background-color: $grey1
			margin: 0 1rem 1rem 0

		a.hc-get-it-done-item-link
			color: $interactive-on-light-grey !important
			transition: color .25s

			&:hover
				color: $interactive-active-on-light-grey


// --- MEDIUM - MESSAGES

@media screen and (min-width: $medium-screen-minimum-width)

	div#staff-lookup-and-background-info-and-top-messages
		
		// full message in modal

		div.hc-messages-message-full-message-modal
			position: fixed
			top: 0
			right: 0
			bottom: 0
			left: 10rem
			background-color: $white
		
		// top messages
			
		div#hc-messages-top
			width: 40%

			h2
				color: $white

			ul#hc-messages-list
				color: $body-text-on-grey15
				padding: 0 2rem 2rem 0
				margin: 0

				li.hc-messages-message-preview
					display: block
					margin: 0
					padding-bottom: 2rem

					h3.hc-messages-message-subject
						+font-weight-regular
						font-size: $medium-screen-type-size-m
						color: $header-text-on-grey15

					button.hc-messages-message-full-message-button
						display: block
						font-size: $medium-screen-type-size-xs
						text-transform: uppercase
						margin: 1rem 0 0 0
						border: 0
						background-color: $blue7
						color: $text-on-blue7
						transition: background-color .25s

						&:hover
							background-color: $blue8
							color: $text-on-blue8
						
						i
							font-size: $medium-screen-type-size-xs
				
				li.hc-messages-message-preview:nth-child(3),
				li.hc-messages-message-preview:nth-child(4)
					display: none

	div#hc-messages-all
		padding: 5rem
		background-image: linear-gradient(to bottom right, $green, $yellow)

		h2
			color: $white

		ul#hc-messages-list
			padding-top: 1rem
			column-count: 4
			column-gap: 0

			li.hc-messages-message-preview
				list-style: none
				break-inside: avoid
				page-break-inside: avoid
				padding: 2rem
				background-color: $white-80-percent
				margin: 0 1rem 1rem 0

				h3.hc-messages-message-subject
					+font-weight-regular
					font-size: $medium-screen-type-size-m
				
				div.hc-messages-message-preview-truncated-body
					+font-weight-semilight

				button.hc-messages-message-full-message-button
					display: block
					font-size: $medium-screen-type-size-xs
					text-transform: uppercase
					margin: 1rem 0 0 0
					border: 0
					background-color: $white
					color: $interactive-default
					transition: color .25s

					&:hover
						color: $interactive-active
					
					i
						font-size: $medium-screen-type-size-xs

		ul.pagination
			display: block
			text-align: center

			> li
				display: inline-block
				margin: 0

				> a
					display: inline-block
					padding: 1rem 2rem
					color: $text-on-interactive-default !important
					background-color: $interactive-default
					transition-property: color, background-color
					transition-duration: .25s

					&:hover
						color: $text-on-interactive-active !important
						background-color: $interactive-active

			> li.disabled a
				color: $white !important
				background-color: $grey9

				&:hover
					color: $white !important
					background-color: $grey9

			> li.active a
				color: $text-on-interactive-active !important
				background-color: $interactive-active

				&:hover
					color: $text-on-interactive-active !important
					background-color: $interactive-active

















