
// ----- IMPORTS

@import './hub-vars'
@import './hub-mixins'

// ----- DECLARATIONS

html
	font-size: 10px
	box-sizing: border-box
	height: 100%

*,
*::before,
*::after
	box-sizing: border-box

body
	margin: 0
	height: 100%

div#suiteBarDelta

	div#suiteBarTop

		div#O365_NavHeader
			background-color: $grey13

			button.ms-bgc-tp
				background-color: $interactive-default

			button.ms-bgc-tdr-h:hover,
			button.ms-bgc-tp:hover
				background-color: $interactive-active

div#s4-bodyContainer
	font-family: 'Segoe UI', 'Segoe', Roboto, Helvetica Neue, Helvetica,  Arial, sans-serif
	color: $text-on-white
	background-color: $white
	box-sizing: border-box

	h1
		line-height: 1.45
		font-weight: 300
		margin: 0

	h2
		line-height: 1.45
		font-weight: 300
		margin: 0

	h3
		line-height: 1.45
		font-weight: 300
		margin: 0

	h4
		line-height: 1.45
		font-weight: 300
		margin: 0

	p
		margin: 0 0 1rem 0

	ul,
	ol
		list-style-position: inside
		margin: 0 0 1rem 0
		padding: 0

	ul ul,
	ol ol
		margin: 0 0 1rem 2rem
		padding: 0

	ul li,
	ol li
		list-style-position: outside
		vertical-align: text-top
		margin-left: 1.6rem

	ul li
		list-style-type: square
		list-style-image: url('')

	a,
	a:visited
		+link-text

		&:hover,
		&:active
			+link-text-active
