
@import './hub-vars-ms-icons'

// ------------------
// Z-INDEX
// ------------------

$z-index-sticky-header:			1000
$z-index-modal-full-message:	2000
$z-index-modal-full-image:		2010

// ------------------
// SCREEN WIDTHS
// ------------------

$large-screen-minimum-width:	1025px
$medium-screen-minimum-width: 	768px
$medium-screen-maximum-width: 	1024px
$small-screen-maximum-width: 	767px
$very-small-screen-maximum-width: 	374px

// ------------------
// BASE TYPE SIZE
// ------------------

$base-font-size: 1.8rem

// ------------------
// SPACING SIZES
// ------------------

// an eight step powers of two scale ranging from 0 to 16rem
$spacing-0:		0
$spacing-1:		.25rem
$spacing-2:		.5rem
$spacing-3:		1rem
$spacing-4:		2rem
$spacing-5:		4rem
$spacing-6:		8rem
$spacing-7:		16rem



























	
// ------------------
// BASE COLORS
// ------------------

// --- GREYS

$black:						#000
$white:						#fff

$grey-1:					#eee
$grey-2:					#e6e6e6
$grey-3:					#ddd
$grey-4:					#d4d4d4
$grey-5:					#ccc
$grey-6:					#c3c3c3
$grey-7:					#bbb
$grey-8:					#b2b2b2
$grey-9:					#aaa
$grey-10:					#999
$grey-11:					#888
$grey-12:					#777
$grey-13:					#666
$grey-14:					#555
$grey-15:					#444
$grey-16:					#333
$grey-17:					#222
$grey-18:					#111

// --- PRIMARY

$primary-red:				#da291c
$primary-blue:				#69b3e7
$primary-pink:				#da1884
$primary-green:				#49c5b1
$primary-yellow:			#fedd00

// --- BOLD

$bold-purple:				#490c66
$bold-blue:					#002f56
$bold-aqua:					#007298
$bold-green:				#034436
$bold-teal:					#46797a
$bold-maroon:				#79232e
$bold-pink:					#a60063
$bold-orange:				#e24301

// --- SUBTLE

$subtle-yellow:				#f2ea9a
$subtle-orange:				#ffc999
$subtle-coral:				#ffb4aa
$subtle-pink:				#e5c5d3
$subtle-green:				#c6f2ef
$subtle-blue:				#94c0e9

// --- PINK

$pink-1:				#f3e5eb
$pink-2:				$subtle-pink
$pink-3:				#e299bf
$pink-4:				#df6eab
$pink-5:				#dc4397
$pink-6:				$primary-pink
$pink-7:				$bold-pink
$pink-8:				#840852
$pink-9:				#621141
$pink-10:				#401a31

// --- PURPLE

$purple-1:				#f1e8f5
$purple-2:				#e4d3ed
$purple-3:				#d1b6e0
$purple-4:				#bb95d1
$purple-5:				#a97ac6
$purple-6:				#915eae
$purple-7:				#794396
$purple-8:				#61277e
$purple-9:				$bold-purple
$purple-10:				#2c0040

// --- BLUES

$blue-1:				#deebf7
$blue-2:				#b9d5f0
$blue-3:				$subtle-blue
$blue-4:				$primary-blue
$blue-5:				#5498ca
$blue-6:				#3f7ead
$blue-7:				#2a6390
$blue-8:				#154973
$blue-9:				$bold-blue
$blue-10:				#00203b

// --- AQUA

$aqua-1:				#d1eef7
$aqua-2:				#a7d5e4
$aqua-3:				#7dbcd1
$aqua-4:				#53a3be
$aqua-5:				#298aab
$aqua-6:				$bold-aqua
$aqua-7:				#005f7f
$aqua-8:				#004d66
$aqua-9:				#003a4d
$aqua-10:				#012835

// --- TEAL

$teal-1:				#d5f3f3
$teal-2:				#b8dada
$teal-3:				#9bc2c2
$teal-4:				#7fa9aa
$teal-5:				#629192
$teal-6:				$bold-teal
$teal-7:				#346768
$teal-8:				#235657
$teal-9:				#124546
$teal-10:				#013435

// --- GREEN

$green-1:				$subtle-green
$green-2:				#a6e6db
$green-3:				#87dbcd
$green-4:				#68d0bf
$green-5:				$primary-green
$green-6:				#37a492
$green-7:				#268473
$green-8:				#146454
$green-9:				$bold-green
$green-10:				#033328

// --- YELLOW

$yellow-1:				$subtle-yellow
$yellow-2:				#f5e64f
$yellow-3:				$primary-yellow
$yellow-4:				#e3bc13

// --- ORANGE

$orange-1:				#f9e9db
$orange-2:				#fcd9ba
$orange-3:				$subtle-orange
$orange-4:				#f59c66
$orange-5:				#eb6f33
$orange-6:				$bold-orange

// --- CORAL

$coral-1:				#f7e4e2
$coral-2:				#fbccc6
$coral-3:				$subtle-coral
$coral-4:				#ff958b
$coral-5:				#fc746a

// ------------------
// CONTEXT COLORS
// ------------------

$text-on-white:					$grey-14

// --- BLUES

$text-on-blue-0:				$grey-10
$text-on-blue-1:				$grey-11
$text-on-blue-2:				$grey-12
$text-on-blue-3:				$grey-17
$text-on-blue-4:				$white
$text-on-blue-5:				$white
$text-on-blue-6:				$white
$text-on-blue-7:				$white
$text-on-blue-8:				$white

// --- INTERACTIVE

// on white

$interactive-default:		$blue-5
$interactive-active:		$blue-6

$interactive-light:			$blue-1
$interactive-light-active:	$blue-2

$text-on-interactive-default:	$white
$text-on-interactive-active:	$white

$text-on-interactive-light:			$blue-6
$text-on-interactive-light-active:	$blue-7

// redo
$interactive-on-grey18:			$blue-1
$text-on-interactive-on-grey18:	$blue-5
$interactive-active-on-grey18:			$blue-2
$text-on-interactive-active-on-grey18:	$blue-6

// redo
$interactive-on-light-grey:			$blue-6
$text-on-interactive-on-light-grey:	$white
$interactive-active-on-light-grey:			$blue-7
$text-on-interactive-active-on-light-grey:	$white

// ------------------
// ALPHA COLORS
// ------------------

$black-10-percent:							rgba($black, .1)
$black-20-percent:							rgba($black, .2)
$black-30-percent:							rgba($black, .3)
$black-40-percent:							rgba($black, .4)
$black-50-percent:							rgba($black, .5)
$black-60-percent:							rgba($black, .6)
$black-70-percent:							rgba($black, .7)
$black-80-percent:							rgba($black, .8)
$black-90-percent:							rgba($black, .9)

$grey-17-10-percent:						rgba($grey-17, .1)
$grey-17-20-percent:						rgba($grey-17, .2)
$grey-17-30-percent:						rgba($grey-17, .3)
$grey-17-40-percent:						rgba($grey-17, .4)
$grey-17-50-percent:						rgba($grey-17, .5)
$grey-17-60-percent:						rgba($grey-17, .6)
$grey-17-70-percent:						rgba($grey-17, .7)
$grey-17-80-percent:						rgba($grey-17, .8)
$grey-17-90-percent:						rgba($grey-17, .9)
$grey-17-95-percent:						rgba($grey-17, .95)

$grey-18-10-percent:						rgba($grey-18, .1)
$grey-18-20-percent:						rgba($grey-18, .2)
$grey-18-30-percent:						rgba($grey-18, .3)
$grey-18-40-percent:						rgba($grey-18, .4)
$grey-18-50-percent:						rgba($grey-18, .5)
$grey-18-60-percent:						rgba($grey-18, .6)
$grey-18-70-percent:						rgba($grey-18, .7)
$grey-18-80-percent:						rgba($grey-18, .8)
$grey-18-90-percent:						rgba($grey-18, .9)
$grey-18-95-percent:						rgba($grey-18, .95)

$white-10-percent:							rgba($white, .1)
$white-20-percent:							rgba($white, .2)
$white-30-percent:							rgba($white, .3)
$white-40-percent:							rgba($white, .4)
$white-50-percent:							rgba($white, .5)
$white-60-percent:							rgba($white, .6)
$white-70-percent:							rgba($white, .7)
$white-80-percent:							rgba($white, .8)
$white-90-percent:							rgba($white, .9)
$white-95-percent:							rgba($white, .95)

$pink-6-10-percent:							rgba($pink-6, .1)
$pink-6-20-percent:							rgba($pink-6, .2)
$pink-6-30-percent:							rgba($pink-6, .3)
$pink-6-40-percent:							rgba($pink-6, .4)
$pink-6-50-percent:							rgba($pink-6, .5)
$pink-6-60-percent:							rgba($pink-6, .6)
$pink-6-70-percent:							rgba($pink-6, .7)
$pink-6-80-percent:							rgba($pink-6, .8)
$pink-6-90-percent:							rgba($pink-6, .9)

$green-5-10-percent:						rgba($green-5, .1)
$green-5-20-percent:						rgba($green-5, .2)
$green-5-30-percent:						rgba($green-5, .3)
$green-5-40-percent:						rgba($green-5, .4)
$green-5-50-percent:						rgba($green-5, .5)
$green-5-60-percent:						rgba($green-5, .6)
$green-5-70-percent:						rgba($green-5, .7)
$green-5-80-percent:						rgba($green-5, .8)
$green-5-90-percent:						rgba($green-5, .9)

$blue-9-10-percent:							rgba($blue-9, .1)
$blue-9-20-percent:							rgba($blue-9, .2)
$blue-9-30-percent:							rgba($blue-9, .3)
$blue-9-40-percent:							rgba($blue-9, .4)
$blue-9-50-percent:							rgba($blue-9, .5)
$blue-9-60-percent:							rgba($blue-9, .6)
$blue-9-70-percent:							rgba($blue-9, .7)
$blue-9-80-percent:							rgba($blue-9, .8)
$blue-9-90-percent:							rgba($blue-9, .9)

$blue-10-10-percent:						rgba($blue-10, .1)
$blue-10-20-percent:						rgba($blue-10, .2)
$blue-10-30-percent:						rgba($blue-10, .3)
$blue-10-40-percent:						rgba($blue-10, .4)
$blue-10-50-percent:						rgba($blue-10, .5)
$blue-10-60-percent:						rgba($blue-10, .6)
$blue-10-70-percent:						rgba($blue-10, .7)
$blue-10-80-percent:						rgba($blue-10, .8)
$blue-10-90-percent:						rgba($blue-10, .9)
