
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

header
	z-index: $z-index-sticky-header

	h1.brand__link__header
		padding: 0

	span.brand__link__header__text
		+inline-hidden

	span.brand__link__header__image

		svg
			
			path.letterforms
				fill: $white

