
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

@media screen and (min-width: $medium-screen-minimum-width)
	
	header
		padding: 5rem 5rem 0 5rem

	div.brand
		padding-bottom: 2rem

		h1,
		div.svg-brand--horizontal
			display: inline

		svg
			height: 5rem

	div.sticky-outer-wrapper.header-is-stuck

		div.sticky-inner-wrapper
			z-index: $z-index-sticky-header
			background-color: $grey14-80-percent















