
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'

// ----- DECLARATIONS

@media screen and (min-width: $medium-screen-minimum-width)
	
	header
		padding: 5rem 5rem 0 5rem
		background-color: $pink-20-percent

	div.brand
		padding-bottom: 2rem

		svg
			height: 5rem
