
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'
@import '../../sass/hub-global'

// ----- DECLARATIONS

div.hc-header-and-hero-container
	background-image: url('../../images/bkgrd-temp.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-position: center
