
// ----- IMPORTS

@import '../../sass/hub-vars'
@import '../../sass/hub-mixins'
@import '../../sass/hub-global'
@import '../../sass/hub-global-small'
@import '../../sass/hub-global-medium'
@import '../../sass/hub-global-large'

// ----- DECLARATIONS

div.hc-container
	box-sizing: border-box

div.hc-header-and-hero-container
	background-image: linear-gradient(to bottom right, $blue8-60-percent, $green-20-percent), url('../../img/bkgrd-milky-way.jpg'), url('/sites/hubdev/DevCode5/img/bkgrd-milky-way.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-position: center
