html {
  font-size: 10px; }

body {
  background: #fff url("/sites/hubdev/DevImages/bkgrd_grid_25.png") repeat 0 0;
  font-family: "WeblySleek UI Normal", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #444; }

header *,
aside *,
div#container_workspace * {
  font-size: 1.5rem;
  box-sizing: border-box; }
header h1,
header h1#pageTitle.ms-core-pageTitle,
header .ms-rtestate-field h1,
header h1.ms-rteElement-H1,
aside h1,
aside h1#pageTitle.ms-core-pageTitle,
aside .ms-rtestate-field h1,
aside h1.ms-rteElement-H1,
div#container_workspace h1,
div#container_workspace h1#pageTitle.ms-core-pageTitle,
div#container_workspace .ms-rtestate-field h1,
div#container_workspace h1.ms-rteElement-H1 {
  font-family: "WeblySleek UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 5rem !important;
  line-height: 5rem !important;
  padding: 0 0 25px;
  margin: 0;
  color: #444; }
header h1.ms-core-pageTitle span#DeltaPlaceHolderPageTitleInTitleArea,
header h1.ms-core-pageTitle span#DeltaPlaceHolderPageTitleInTitleArea span,
aside h1.ms-core-pageTitle span#DeltaPlaceHolderPageTitleInTitleArea,
aside h1.ms-core-pageTitle span#DeltaPlaceHolderPageTitleInTitleArea span,
div#container_workspace h1.ms-core-pageTitle span#DeltaPlaceHolderPageTitleInTitleArea,
div#container_workspace h1.ms-core-pageTitle span#DeltaPlaceHolderPageTitleInTitleArea span {
  font-family: "WeblySleek UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 5rem !important;
  line-height: 5rem !important;
  margin: 0;
  color: #444; }
header h1.ms-core-pageTitle a,
header h1.ms-core-pageTitle a:link,
header h1.ms-core-pageTitle a:visited,
header h1.ms-core-pageTitle a.ms-core-listMenu-item,
header h1.ms-core-pageTitle a.ms-core-listMenu-item:link,
header h1.ms-core-pageTitle a.ms-core-listMenu-item:visited,
header h1.ms-core-pageTitle a.ms-tv-item,
header h1.ms-core-pageTitle a.ms-tv-item:link,
header h1.ms-core-pageTitle a.ms-tv-item:visited,
header h1.ms-core-pageTitle a.ms-tv-header,
header h1.ms-core-pageTitle a.ms-tv-header:link,
header h1.ms-core-pageTitle a.ms-tv-header:visited,
aside h1.ms-core-pageTitle a,
aside h1.ms-core-pageTitle a:link,
aside h1.ms-core-pageTitle a:visited,
aside h1.ms-core-pageTitle a.ms-core-listMenu-item,
aside h1.ms-core-pageTitle a.ms-core-listMenu-item:link,
aside h1.ms-core-pageTitle a.ms-core-listMenu-item:visited,
aside h1.ms-core-pageTitle a.ms-tv-item,
aside h1.ms-core-pageTitle a.ms-tv-item:link,
aside h1.ms-core-pageTitle a.ms-tv-item:visited,
aside h1.ms-core-pageTitle a.ms-tv-header,
aside h1.ms-core-pageTitle a.ms-tv-header:link,
aside h1.ms-core-pageTitle a.ms-tv-header:visited,
div#container_workspace h1.ms-core-pageTitle a,
div#container_workspace h1.ms-core-pageTitle a:link,
div#container_workspace h1.ms-core-pageTitle a:visited,
div#container_workspace h1.ms-core-pageTitle a.ms-core-listMenu-item,
div#container_workspace h1.ms-core-pageTitle a.ms-core-listMenu-item:link,
div#container_workspace h1.ms-core-pageTitle a.ms-core-listMenu-item:visited,
div#container_workspace h1.ms-core-pageTitle a.ms-tv-item,
div#container_workspace h1.ms-core-pageTitle a.ms-tv-item:link,
div#container_workspace h1.ms-core-pageTitle a.ms-tv-item:visited,
div#container_workspace h1.ms-core-pageTitle a.ms-tv-header,
div#container_workspace h1.ms-core-pageTitle a.ms-tv-header:link,
div#container_workspace h1.ms-core-pageTitle a.ms-tv-header:visited {
  font-family: "WeblySleek UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 5rem !important;
  line-height: 5rem !important;
  padding: 0 0 25px;
  margin: 0;
  color: #0072c6; }
header h1.ms-core-pageTitle li,
aside h1.ms-core-pageTitle li,
div#container_workspace h1.ms-core-pageTitle li {
  display: inline-block;
  margin: 0 0 0 2rem; }
header h2,
header .ms-rtestate-field h2,
header h2.ms-rteElement-H2,
header h2.ms-webpart-titleText,
aside h2,
aside .ms-rtestate-field h2,
aside h2.ms-rteElement-H2,
aside h2.ms-webpart-titleText,
div#container_workspace h2,
div#container_workspace .ms-rtestate-field h2,
div#container_workspace h2.ms-rteElement-H2,
div#container_workspace h2.ms-webpart-titleText {
  font-family: "WeblySleek UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 4.25rem !important;
  line-height: 5rem !important;
  padding: 0 0 25px;
  margin: 0;
  color: #444; }
  header h2 a,
  header h2 a:link,
  header h2 a:visited,
  header h2 a.ms-core-listMenu-item,
  header h2 a.ms-core-listMenu-item:link,
  header h2 a.ms-core-listMenu-item:visited,
  header h2 a.ms-tv-item,
  header h2 a.ms-tv-item:link,
  header h2 a.ms-tv-item:visited,
  header h2 a.ms-tv-header,
  header h2 a.ms-tv-header:link,
  header h2 a.ms-tv-header:visited,
  header h2 a span,
  header .ms-rtestate-field h2 a,
  header .ms-rtestate-field h2 a:link,
  header .ms-rtestate-field h2 a:visited,
  header .ms-rtestate-field h2 a.ms-core-listMenu-item,
  header .ms-rtestate-field h2 a.ms-core-listMenu-item:link,
  header .ms-rtestate-field h2 a.ms-core-listMenu-item:visited,
  header .ms-rtestate-field h2 a.ms-tv-item,
  header .ms-rtestate-field h2 a.ms-tv-item:link,
  header .ms-rtestate-field h2 a.ms-tv-item:visited,
  header .ms-rtestate-field h2 a.ms-tv-header,
  header .ms-rtestate-field h2 a.ms-tv-header:link,
  header .ms-rtestate-field h2 a.ms-tv-header:visited,
  header .ms-rtestate-field h2 a span,
  header h2.ms-rteElement-H2 a,
  header h2.ms-rteElement-H2 a:link,
  header h2.ms-rteElement-H2 a:visited,
  header h2.ms-rteElement-H2 a.ms-core-listMenu-item,
  header h2.ms-rteElement-H2 a.ms-core-listMenu-item:link,
  header h2.ms-rteElement-H2 a.ms-core-listMenu-item:visited,
  header h2.ms-rteElement-H2 a.ms-tv-item,
  header h2.ms-rteElement-H2 a.ms-tv-item:link,
  header h2.ms-rteElement-H2 a.ms-tv-item:visited,
  header h2.ms-rteElement-H2 a.ms-tv-header,
  header h2.ms-rteElement-H2 a.ms-tv-header:link,
  header h2.ms-rteElement-H2 a.ms-tv-header:visited,
  header h2.ms-rteElement-H2 a span,
  header h2.ms-webpart-titleText a,
  header h2.ms-webpart-titleText a:link,
  header h2.ms-webpart-titleText a:visited,
  header h2.ms-webpart-titleText a.ms-core-listMenu-item,
  header h2.ms-webpart-titleText a.ms-core-listMenu-item:link,
  header h2.ms-webpart-titleText a.ms-core-listMenu-item:visited,
  header h2.ms-webpart-titleText a.ms-tv-item,
  header h2.ms-webpart-titleText a.ms-tv-item:link,
  header h2.ms-webpart-titleText a.ms-tv-item:visited,
  header h2.ms-webpart-titleText a.ms-tv-header,
  header h2.ms-webpart-titleText a.ms-tv-header:link,
  header h2.ms-webpart-titleText a.ms-tv-header:visited,
  header h2.ms-webpart-titleText a span,
  aside h2 a,
  aside h2 a:link,
  aside h2 a:visited,
  aside h2 a.ms-core-listMenu-item,
  aside h2 a.ms-core-listMenu-item:link,
  aside h2 a.ms-core-listMenu-item:visited,
  aside h2 a.ms-tv-item,
  aside h2 a.ms-tv-item:link,
  aside h2 a.ms-tv-item:visited,
  aside h2 a.ms-tv-header,
  aside h2 a.ms-tv-header:link,
  aside h2 a.ms-tv-header:visited,
  aside h2 a span,
  aside .ms-rtestate-field h2 a,
  aside .ms-rtestate-field h2 a:link,
  aside .ms-rtestate-field h2 a:visited,
  aside .ms-rtestate-field h2 a.ms-core-listMenu-item,
  aside .ms-rtestate-field h2 a.ms-core-listMenu-item:link,
  aside .ms-rtestate-field h2 a.ms-core-listMenu-item:visited,
  aside .ms-rtestate-field h2 a.ms-tv-item,
  aside .ms-rtestate-field h2 a.ms-tv-item:link,
  aside .ms-rtestate-field h2 a.ms-tv-item:visited,
  aside .ms-rtestate-field h2 a.ms-tv-header,
  aside .ms-rtestate-field h2 a.ms-tv-header:link,
  aside .ms-rtestate-field h2 a.ms-tv-header:visited,
  aside .ms-rtestate-field h2 a span,
  aside h2.ms-rteElement-H2 a,
  aside h2.ms-rteElement-H2 a:link,
  aside h2.ms-rteElement-H2 a:visited,
  aside h2.ms-rteElement-H2 a.ms-core-listMenu-item,
  aside h2.ms-rteElement-H2 a.ms-core-listMenu-item:link,
  aside h2.ms-rteElement-H2 a.ms-core-listMenu-item:visited,
  aside h2.ms-rteElement-H2 a.ms-tv-item,
  aside h2.ms-rteElement-H2 a.ms-tv-item:link,
  aside h2.ms-rteElement-H2 a.ms-tv-item:visited,
  aside h2.ms-rteElement-H2 a.ms-tv-header,
  aside h2.ms-rteElement-H2 a.ms-tv-header:link,
  aside h2.ms-rteElement-H2 a.ms-tv-header:visited,
  aside h2.ms-rteElement-H2 a span,
  aside h2.ms-webpart-titleText a,
  aside h2.ms-webpart-titleText a:link,
  aside h2.ms-webpart-titleText a:visited,
  aside h2.ms-webpart-titleText a.ms-core-listMenu-item,
  aside h2.ms-webpart-titleText a.ms-core-listMenu-item:link,
  aside h2.ms-webpart-titleText a.ms-core-listMenu-item:visited,
  aside h2.ms-webpart-titleText a.ms-tv-item,
  aside h2.ms-webpart-titleText a.ms-tv-item:link,
  aside h2.ms-webpart-titleText a.ms-tv-item:visited,
  aside h2.ms-webpart-titleText a.ms-tv-header,
  aside h2.ms-webpart-titleText a.ms-tv-header:link,
  aside h2.ms-webpart-titleText a.ms-tv-header:visited,
  aside h2.ms-webpart-titleText a span,
  div#container_workspace h2 a,
  div#container_workspace h2 a:link,
  div#container_workspace h2 a:visited,
  div#container_workspace h2 a.ms-core-listMenu-item,
  div#container_workspace h2 a.ms-core-listMenu-item:link,
  div#container_workspace h2 a.ms-core-listMenu-item:visited,
  div#container_workspace h2 a.ms-tv-item,
  div#container_workspace h2 a.ms-tv-item:link,
  div#container_workspace h2 a.ms-tv-item:visited,
  div#container_workspace h2 a.ms-tv-header,
  div#container_workspace h2 a.ms-tv-header:link,
  div#container_workspace h2 a.ms-tv-header:visited,
  div#container_workspace h2 a span,
  div#container_workspace .ms-rtestate-field h2 a,
  div#container_workspace .ms-rtestate-field h2 a:link,
  div#container_workspace .ms-rtestate-field h2 a:visited,
  div#container_workspace .ms-rtestate-field h2 a.ms-core-listMenu-item,
  div#container_workspace .ms-rtestate-field h2 a.ms-core-listMenu-item:link,
  div#container_workspace .ms-rtestate-field h2 a.ms-core-listMenu-item:visited,
  div#container_workspace .ms-rtestate-field h2 a.ms-tv-item,
  div#container_workspace .ms-rtestate-field h2 a.ms-tv-item:link,
  div#container_workspace .ms-rtestate-field h2 a.ms-tv-item:visited,
  div#container_workspace .ms-rtestate-field h2 a.ms-tv-header,
  div#container_workspace .ms-rtestate-field h2 a.ms-tv-header:link,
  div#container_workspace .ms-rtestate-field h2 a.ms-tv-header:visited,
  div#container_workspace .ms-rtestate-field h2 a span,
  div#container_workspace h2.ms-rteElement-H2 a,
  div#container_workspace h2.ms-rteElement-H2 a:link,
  div#container_workspace h2.ms-rteElement-H2 a:visited,
  div#container_workspace h2.ms-rteElement-H2 a.ms-core-listMenu-item,
  div#container_workspace h2.ms-rteElement-H2 a.ms-core-listMenu-item:link,
  div#container_workspace h2.ms-rteElement-H2 a.ms-core-listMenu-item:visited,
  div#container_workspace h2.ms-rteElement-H2 a.ms-tv-item,
  div#container_workspace h2.ms-rteElement-H2 a.ms-tv-item:link,
  div#container_workspace h2.ms-rteElement-H2 a.ms-tv-item:visited,
  div#container_workspace h2.ms-rteElement-H2 a.ms-tv-header,
  div#container_workspace h2.ms-rteElement-H2 a.ms-tv-header:link,
  div#container_workspace h2.ms-rteElement-H2 a.ms-tv-header:visited,
  div#container_workspace h2.ms-rteElement-H2 a span,
  div#container_workspace h2.ms-webpart-titleText a,
  div#container_workspace h2.ms-webpart-titleText a:link,
  div#container_workspace h2.ms-webpart-titleText a:visited,
  div#container_workspace h2.ms-webpart-titleText a.ms-core-listMenu-item,
  div#container_workspace h2.ms-webpart-titleText a.ms-core-listMenu-item:link,
  div#container_workspace h2.ms-webpart-titleText a.ms-core-listMenu-item:visited,
  div#container_workspace h2.ms-webpart-titleText a.ms-tv-item,
  div#container_workspace h2.ms-webpart-titleText a.ms-tv-item:link,
  div#container_workspace h2.ms-webpart-titleText a.ms-tv-item:visited,
  div#container_workspace h2.ms-webpart-titleText a.ms-tv-header,
  div#container_workspace h2.ms-webpart-titleText a.ms-tv-header:link,
  div#container_workspace h2.ms-webpart-titleText a.ms-tv-header:visited,
  div#container_workspace h2.ms-webpart-titleText a span {
    font-family: "WeblySleek UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 4.25rem !important;
    line-height: 5rem !important;
    padding: 0 0 25px;
    margin: 0;
    color: #0072c6; }
header h3,
header .ms-rtestate-field h3,
header h3.ms-rteElement-H3,
aside h3,
aside .ms-rtestate-field h3,
aside h3.ms-rteElement-H3,
div#container_workspace h3,
div#container_workspace .ms-rtestate-field h3,
div#container_workspace h3.ms-rteElement-H3 {
  font-family: "WeblySleek UI Semilight", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 3.5rem !important;
  line-height: 3.75rem !important;
  padding: 0 0 25px;
  margin: 0;
  color: #444; }
  header h3 a,
  header h3 a:link,
  header h3 a:visited,
  header h3 a.ms-core-listMenu-item,
  header h3 a.ms-core-listMenu-item:link,
  header h3 a.ms-core-listMenu-item:visited,
  header h3 a.ms-tv-item,
  header h3 a.ms-tv-item:link,
  header h3 a.ms-tv-item:visited,
  header h3 a.ms-tv-header,
  header h3 a.ms-tv-header:link,
  header h3 a.ms-tv-header:visited,
  header .ms-rtestate-field h3 a,
  header .ms-rtestate-field h3 a:link,
  header .ms-rtestate-field h3 a:visited,
  header .ms-rtestate-field h3 a.ms-core-listMenu-item,
  header .ms-rtestate-field h3 a.ms-core-listMenu-item:link,
  header .ms-rtestate-field h3 a.ms-core-listMenu-item:visited,
  header .ms-rtestate-field h3 a.ms-tv-item,
  header .ms-rtestate-field h3 a.ms-tv-item:link,
  header .ms-rtestate-field h3 a.ms-tv-item:visited,
  header .ms-rtestate-field h3 a.ms-tv-header,
  header .ms-rtestate-field h3 a.ms-tv-header:link,
  header .ms-rtestate-field h3 a.ms-tv-header:visited,
  header h3.ms-rteElement-H3 a,
  header h3.ms-rteElement-H3 a:link,
  header h3.ms-rteElement-H3 a:visited,
  header h3.ms-rteElement-H3 a.ms-core-listMenu-item,
  header h3.ms-rteElement-H3 a.ms-core-listMenu-item:link,
  header h3.ms-rteElement-H3 a.ms-core-listMenu-item:visited,
  header h3.ms-rteElement-H3 a.ms-tv-item,
  header h3.ms-rteElement-H3 a.ms-tv-item:link,
  header h3.ms-rteElement-H3 a.ms-tv-item:visited,
  header h3.ms-rteElement-H3 a.ms-tv-header,
  header h3.ms-rteElement-H3 a.ms-tv-header:link,
  header h3.ms-rteElement-H3 a.ms-tv-header:visited,
  aside h3 a,
  aside h3 a:link,
  aside h3 a:visited,
  aside h3 a.ms-core-listMenu-item,
  aside h3 a.ms-core-listMenu-item:link,
  aside h3 a.ms-core-listMenu-item:visited,
  aside h3 a.ms-tv-item,
  aside h3 a.ms-tv-item:link,
  aside h3 a.ms-tv-item:visited,
  aside h3 a.ms-tv-header,
  aside h3 a.ms-tv-header:link,
  aside h3 a.ms-tv-header:visited,
  aside .ms-rtestate-field h3 a,
  aside .ms-rtestate-field h3 a:link,
  aside .ms-rtestate-field h3 a:visited,
  aside .ms-rtestate-field h3 a.ms-core-listMenu-item,
  aside .ms-rtestate-field h3 a.ms-core-listMenu-item:link,
  aside .ms-rtestate-field h3 a.ms-core-listMenu-item:visited,
  aside .ms-rtestate-field h3 a.ms-tv-item,
  aside .ms-rtestate-field h3 a.ms-tv-item:link,
  aside .ms-rtestate-field h3 a.ms-tv-item:visited,
  aside .ms-rtestate-field h3 a.ms-tv-header,
  aside .ms-rtestate-field h3 a.ms-tv-header:link,
  aside .ms-rtestate-field h3 a.ms-tv-header:visited,
  aside h3.ms-rteElement-H3 a,
  aside h3.ms-rteElement-H3 a:link,
  aside h3.ms-rteElement-H3 a:visited,
  aside h3.ms-rteElement-H3 a.ms-core-listMenu-item,
  aside h3.ms-rteElement-H3 a.ms-core-listMenu-item:link,
  aside h3.ms-rteElement-H3 a.ms-core-listMenu-item:visited,
  aside h3.ms-rteElement-H3 a.ms-tv-item,
  aside h3.ms-rteElement-H3 a.ms-tv-item:link,
  aside h3.ms-rteElement-H3 a.ms-tv-item:visited,
  aside h3.ms-rteElement-H3 a.ms-tv-header,
  aside h3.ms-rteElement-H3 a.ms-tv-header:link,
  aside h3.ms-rteElement-H3 a.ms-tv-header:visited,
  div#container_workspace h3 a,
  div#container_workspace h3 a:link,
  div#container_workspace h3 a:visited,
  div#container_workspace h3 a.ms-core-listMenu-item,
  div#container_workspace h3 a.ms-core-listMenu-item:link,
  div#container_workspace h3 a.ms-core-listMenu-item:visited,
  div#container_workspace h3 a.ms-tv-item,
  div#container_workspace h3 a.ms-tv-item:link,
  div#container_workspace h3 a.ms-tv-item:visited,
  div#container_workspace h3 a.ms-tv-header,
  div#container_workspace h3 a.ms-tv-header:link,
  div#container_workspace h3 a.ms-tv-header:visited,
  div#container_workspace .ms-rtestate-field h3 a,
  div#container_workspace .ms-rtestate-field h3 a:link,
  div#container_workspace .ms-rtestate-field h3 a:visited,
  div#container_workspace .ms-rtestate-field h3 a.ms-core-listMenu-item,
  div#container_workspace .ms-rtestate-field h3 a.ms-core-listMenu-item:link,
  div#container_workspace .ms-rtestate-field h3 a.ms-core-listMenu-item:visited,
  div#container_workspace .ms-rtestate-field h3 a.ms-tv-item,
  div#container_workspace .ms-rtestate-field h3 a.ms-tv-item:link,
  div#container_workspace .ms-rtestate-field h3 a.ms-tv-item:visited,
  div#container_workspace .ms-rtestate-field h3 a.ms-tv-header,
  div#container_workspace .ms-rtestate-field h3 a.ms-tv-header:link,
  div#container_workspace .ms-rtestate-field h3 a.ms-tv-header:visited,
  div#container_workspace h3.ms-rteElement-H3 a,
  div#container_workspace h3.ms-rteElement-H3 a:link,
  div#container_workspace h3.ms-rteElement-H3 a:visited,
  div#container_workspace h3.ms-rteElement-H3 a.ms-core-listMenu-item,
  div#container_workspace h3.ms-rteElement-H3 a.ms-core-listMenu-item:link,
  div#container_workspace h3.ms-rteElement-H3 a.ms-core-listMenu-item:visited,
  div#container_workspace h3.ms-rteElement-H3 a.ms-tv-item,
  div#container_workspace h3.ms-rteElement-H3 a.ms-tv-item:link,
  div#container_workspace h3.ms-rteElement-H3 a.ms-tv-item:visited,
  div#container_workspace h3.ms-rteElement-H3 a.ms-tv-header,
  div#container_workspace h3.ms-rteElement-H3 a.ms-tv-header:link,
  div#container_workspace h3.ms-rteElement-H3 a.ms-tv-header:visited {
    font-family: "WeblySleek UI Semilight", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 3.5rem !important;
    line-height: 3.75rem !important;
    padding: 0 0 25px;
    margin: 0;
    color: #0072c6; }
header h4,
header .ms-rtestate-field h4,
header h4.ms-rteElement-H4,
aside h4,
aside .ms-rtestate-field h4,
aside h4.ms-rteElement-H4,
div#container_workspace h4,
div#container_workspace .ms-rtestate-field h4,
div#container_workspace h4.ms-rteElement-H4 {
  font-family: "WeblySleek UI Semilight", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 2.75rem !important;
  line-height: 3.75rem !important;
  padding: 0 0 25px;
  margin: 0;
  color: #444; }
  header h4 a,
  header h4 a:link,
  header h4 a:visited,
  header h4 a.ms-core-listMenu-item,
  header h4 a.ms-core-listMenu-item:link,
  header h4 a.ms-core-listMenu-item:visited,
  header h4 a.ms-tv-item,
  header h4 a.ms-tv-item:link,
  header h4 a.ms-tv-item:visited,
  header h4 a.ms-tv-header,
  header h4 a.ms-tv-header:link,
  header h4 a.ms-tv-header:visited,
  header .ms-rtestate-field h4 a,
  header .ms-rtestate-field h4 a:link,
  header .ms-rtestate-field h4 a:visited,
  header .ms-rtestate-field h4 a.ms-core-listMenu-item,
  header .ms-rtestate-field h4 a.ms-core-listMenu-item:link,
  header .ms-rtestate-field h4 a.ms-core-listMenu-item:visited,
  header .ms-rtestate-field h4 a.ms-tv-item,
  header .ms-rtestate-field h4 a.ms-tv-item:link,
  header .ms-rtestate-field h4 a.ms-tv-item:visited,
  header .ms-rtestate-field h4 a.ms-tv-header,
  header .ms-rtestate-field h4 a.ms-tv-header:link,
  header .ms-rtestate-field h4 a.ms-tv-header:visited,
  header h4.ms-rteElement-H4 a,
  header h4.ms-rteElement-H4 a:link,
  header h4.ms-rteElement-H4 a:visited,
  header h4.ms-rteElement-H4 a.ms-core-listMenu-item,
  header h4.ms-rteElement-H4 a.ms-core-listMenu-item:link,
  header h4.ms-rteElement-H4 a.ms-core-listMenu-item:visited,
  header h4.ms-rteElement-H4 a.ms-tv-item,
  header h4.ms-rteElement-H4 a.ms-tv-item:link,
  header h4.ms-rteElement-H4 a.ms-tv-item:visited,
  header h4.ms-rteElement-H4 a.ms-tv-header,
  header h4.ms-rteElement-H4 a.ms-tv-header:link,
  header h4.ms-rteElement-H4 a.ms-tv-header:visited,
  aside h4 a,
  aside h4 a:link,
  aside h4 a:visited,
  aside h4 a.ms-core-listMenu-item,
  aside h4 a.ms-core-listMenu-item:link,
  aside h4 a.ms-core-listMenu-item:visited,
  aside h4 a.ms-tv-item,
  aside h4 a.ms-tv-item:link,
  aside h4 a.ms-tv-item:visited,
  aside h4 a.ms-tv-header,
  aside h4 a.ms-tv-header:link,
  aside h4 a.ms-tv-header:visited,
  aside .ms-rtestate-field h4 a,
  aside .ms-rtestate-field h4 a:link,
  aside .ms-rtestate-field h4 a:visited,
  aside .ms-rtestate-field h4 a.ms-core-listMenu-item,
  aside .ms-rtestate-field h4 a.ms-core-listMenu-item:link,
  aside .ms-rtestate-field h4 a.ms-core-listMenu-item:visited,
  aside .ms-rtestate-field h4 a.ms-tv-item,
  aside .ms-rtestate-field h4 a.ms-tv-item:link,
  aside .ms-rtestate-field h4 a.ms-tv-item:visited,
  aside .ms-rtestate-field h4 a.ms-tv-header,
  aside .ms-rtestate-field h4 a.ms-tv-header:link,
  aside .ms-rtestate-field h4 a.ms-tv-header:visited,
  aside h4.ms-rteElement-H4 a,
  aside h4.ms-rteElement-H4 a:link,
  aside h4.ms-rteElement-H4 a:visited,
  aside h4.ms-rteElement-H4 a.ms-core-listMenu-item,
  aside h4.ms-rteElement-H4 a.ms-core-listMenu-item:link,
  aside h4.ms-rteElement-H4 a.ms-core-listMenu-item:visited,
  aside h4.ms-rteElement-H4 a.ms-tv-item,
  aside h4.ms-rteElement-H4 a.ms-tv-item:link,
  aside h4.ms-rteElement-H4 a.ms-tv-item:visited,
  aside h4.ms-rteElement-H4 a.ms-tv-header,
  aside h4.ms-rteElement-H4 a.ms-tv-header:link,
  aside h4.ms-rteElement-H4 a.ms-tv-header:visited,
  div#container_workspace h4 a,
  div#container_workspace h4 a:link,
  div#container_workspace h4 a:visited,
  div#container_workspace h4 a.ms-core-listMenu-item,
  div#container_workspace h4 a.ms-core-listMenu-item:link,
  div#container_workspace h4 a.ms-core-listMenu-item:visited,
  div#container_workspace h4 a.ms-tv-item,
  div#container_workspace h4 a.ms-tv-item:link,
  div#container_workspace h4 a.ms-tv-item:visited,
  div#container_workspace h4 a.ms-tv-header,
  div#container_workspace h4 a.ms-tv-header:link,
  div#container_workspace h4 a.ms-tv-header:visited,
  div#container_workspace .ms-rtestate-field h4 a,
  div#container_workspace .ms-rtestate-field h4 a:link,
  div#container_workspace .ms-rtestate-field h4 a:visited,
  div#container_workspace .ms-rtestate-field h4 a.ms-core-listMenu-item,
  div#container_workspace .ms-rtestate-field h4 a.ms-core-listMenu-item:link,
  div#container_workspace .ms-rtestate-field h4 a.ms-core-listMenu-item:visited,
  div#container_workspace .ms-rtestate-field h4 a.ms-tv-item,
  div#container_workspace .ms-rtestate-field h4 a.ms-tv-item:link,
  div#container_workspace .ms-rtestate-field h4 a.ms-tv-item:visited,
  div#container_workspace .ms-rtestate-field h4 a.ms-tv-header,
  div#container_workspace .ms-rtestate-field h4 a.ms-tv-header:link,
  div#container_workspace .ms-rtestate-field h4 a.ms-tv-header:visited,
  div#container_workspace h4.ms-rteElement-H4 a,
  div#container_workspace h4.ms-rteElement-H4 a:link,
  div#container_workspace h4.ms-rteElement-H4 a:visited,
  div#container_workspace h4.ms-rteElement-H4 a.ms-core-listMenu-item,
  div#container_workspace h4.ms-rteElement-H4 a.ms-core-listMenu-item:link,
  div#container_workspace h4.ms-rteElement-H4 a.ms-core-listMenu-item:visited,
  div#container_workspace h4.ms-rteElement-H4 a.ms-tv-item,
  div#container_workspace h4.ms-rteElement-H4 a.ms-tv-item:link,
  div#container_workspace h4.ms-rteElement-H4 a.ms-tv-item:visited,
  div#container_workspace h4.ms-rteElement-H4 a.ms-tv-header,
  div#container_workspace h4.ms-rteElement-H4 a.ms-tv-header:link,
  div#container_workspace h4.ms-rteElement-H4 a.ms-tv-header:visited {
    font-family: "WeblySleek UI Semilight", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 2.75rem !important;
    line-height: 3.75rem !important;
    padding: 0 0 25px;
    margin: 0;
    color: #0072c6; }
header h5,
header .ms-rtestate-field h5,
header h5.ms-rteElement-H5,
aside h5,
aside .ms-rtestate-field h5,
aside h5.ms-rteElement-H5,
div#container_workspace h5,
div#container_workspace .ms-rtestate-field h5,
div#container_workspace h5.ms-rteElement-H5 {
  font-family: "WeblySleek UI Normal", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 2rem !important;
  line-height: 2.5rem !important;
  padding: 0 0 25px;
  margin: 0;
  color: #444; }
  header h5 a,
  header h5 a:link,
  header h5 a:visited,
  header h5 a.ms-core-listMenu-item,
  header h5 a.ms-core-listMenu-item:link,
  header h5 a.ms-core-listMenu-item:visited,
  header h5 a.ms-tv-item,
  header h5 a.ms-tv-item:link,
  header h5 a.ms-tv-item:visited,
  header h5 a.ms-tv-header,
  header h5 a.ms-tv-header:link,
  header h5 a.ms-tv-header:visited,
  header .ms-rtestate-field h5 a,
  header .ms-rtestate-field h5 a:link,
  header .ms-rtestate-field h5 a:visited,
  header .ms-rtestate-field h5 a.ms-core-listMenu-item,
  header .ms-rtestate-field h5 a.ms-core-listMenu-item:link,
  header .ms-rtestate-field h5 a.ms-core-listMenu-item:visited,
  header .ms-rtestate-field h5 a.ms-tv-item,
  header .ms-rtestate-field h5 a.ms-tv-item:link,
  header .ms-rtestate-field h5 a.ms-tv-item:visited,
  header .ms-rtestate-field h5 a.ms-tv-header,
  header .ms-rtestate-field h5 a.ms-tv-header:link,
  header .ms-rtestate-field h5 a.ms-tv-header:visited,
  header h5.ms-rteElement-H5 a,
  header h5.ms-rteElement-H5 a:link,
  header h5.ms-rteElement-H5 a:visited,
  header h5.ms-rteElement-H5 a.ms-core-listMenu-item,
  header h5.ms-rteElement-H5 a.ms-core-listMenu-item:link,
  header h5.ms-rteElement-H5 a.ms-core-listMenu-item:visited,
  header h5.ms-rteElement-H5 a.ms-tv-item,
  header h5.ms-rteElement-H5 a.ms-tv-item:link,
  header h5.ms-rteElement-H5 a.ms-tv-item:visited,
  header h5.ms-rteElement-H5 a.ms-tv-header,
  header h5.ms-rteElement-H5 a.ms-tv-header:link,
  header h5.ms-rteElement-H5 a.ms-tv-header:visited,
  aside h5 a,
  aside h5 a:link,
  aside h5 a:visited,
  aside h5 a.ms-core-listMenu-item,
  aside h5 a.ms-core-listMenu-item:link,
  aside h5 a.ms-core-listMenu-item:visited,
  aside h5 a.ms-tv-item,
  aside h5 a.ms-tv-item:link,
  aside h5 a.ms-tv-item:visited,
  aside h5 a.ms-tv-header,
  aside h5 a.ms-tv-header:link,
  aside h5 a.ms-tv-header:visited,
  aside .ms-rtestate-field h5 a,
  aside .ms-rtestate-field h5 a:link,
  aside .ms-rtestate-field h5 a:visited,
  aside .ms-rtestate-field h5 a.ms-core-listMenu-item,
  aside .ms-rtestate-field h5 a.ms-core-listMenu-item:link,
  aside .ms-rtestate-field h5 a.ms-core-listMenu-item:visited,
  aside .ms-rtestate-field h5 a.ms-tv-item,
  aside .ms-rtestate-field h5 a.ms-tv-item:link,
  aside .ms-rtestate-field h5 a.ms-tv-item:visited,
  aside .ms-rtestate-field h5 a.ms-tv-header,
  aside .ms-rtestate-field h5 a.ms-tv-header:link,
  aside .ms-rtestate-field h5 a.ms-tv-header:visited,
  aside h5.ms-rteElement-H5 a,
  aside h5.ms-rteElement-H5 a:link,
  aside h5.ms-rteElement-H5 a:visited,
  aside h5.ms-rteElement-H5 a.ms-core-listMenu-item,
  aside h5.ms-rteElement-H5 a.ms-core-listMenu-item:link,
  aside h5.ms-rteElement-H5 a.ms-core-listMenu-item:visited,
  aside h5.ms-rteElement-H5 a.ms-tv-item,
  aside h5.ms-rteElement-H5 a.ms-tv-item:link,
  aside h5.ms-rteElement-H5 a.ms-tv-item:visited,
  aside h5.ms-rteElement-H5 a.ms-tv-header,
  aside h5.ms-rteElement-H5 a.ms-tv-header:link,
  aside h5.ms-rteElement-H5 a.ms-tv-header:visited,
  div#container_workspace h5 a,
  div#container_workspace h5 a:link,
  div#container_workspace h5 a:visited,
  div#container_workspace h5 a.ms-core-listMenu-item,
  div#container_workspace h5 a.ms-core-listMenu-item:link,
  div#container_workspace h5 a.ms-core-listMenu-item:visited,
  div#container_workspace h5 a.ms-tv-item,
  div#container_workspace h5 a.ms-tv-item:link,
  div#container_workspace h5 a.ms-tv-item:visited,
  div#container_workspace h5 a.ms-tv-header,
  div#container_workspace h5 a.ms-tv-header:link,
  div#container_workspace h5 a.ms-tv-header:visited,
  div#container_workspace .ms-rtestate-field h5 a,
  div#container_workspace .ms-rtestate-field h5 a:link,
  div#container_workspace .ms-rtestate-field h5 a:visited,
  div#container_workspace .ms-rtestate-field h5 a.ms-core-listMenu-item,
  div#container_workspace .ms-rtestate-field h5 a.ms-core-listMenu-item:link,
  div#container_workspace .ms-rtestate-field h5 a.ms-core-listMenu-item:visited,
  div#container_workspace .ms-rtestate-field h5 a.ms-tv-item,
  div#container_workspace .ms-rtestate-field h5 a.ms-tv-item:link,
  div#container_workspace .ms-rtestate-field h5 a.ms-tv-item:visited,
  div#container_workspace .ms-rtestate-field h5 a.ms-tv-header,
  div#container_workspace .ms-rtestate-field h5 a.ms-tv-header:link,
  div#container_workspace .ms-rtestate-field h5 a.ms-tv-header:visited,
  div#container_workspace h5.ms-rteElement-H5 a,
  div#container_workspace h5.ms-rteElement-H5 a:link,
  div#container_workspace h5.ms-rteElement-H5 a:visited,
  div#container_workspace h5.ms-rteElement-H5 a.ms-core-listMenu-item,
  div#container_workspace h5.ms-rteElement-H5 a.ms-core-listMenu-item:link,
  div#container_workspace h5.ms-rteElement-H5 a.ms-core-listMenu-item:visited,
  div#container_workspace h5.ms-rteElement-H5 a.ms-tv-item,
  div#container_workspace h5.ms-rteElement-H5 a.ms-tv-item:link,
  div#container_workspace h5.ms-rteElement-H5 a.ms-tv-item:visited,
  div#container_workspace h5.ms-rteElement-H5 a.ms-tv-header,
  div#container_workspace h5.ms-rteElement-H5 a.ms-tv-header:link,
  div#container_workspace h5.ms-rteElement-H5 a.ms-tv-header:visited {
    font-family: "WeblySleek UI Normal", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 2rem !important;
    line-height: 2.5rem !important;
    padding: 0 0 25px;
    margin: 0;
    color: #0072c6; }
header h6,
header .ms-rtestate-field h6,
header h6.ms-rteElement-H6,
aside h6,
aside .ms-rtestate-field h6,
aside h6.ms-rteElement-H6,
div#container_workspace h6,
div#container_workspace .ms-rtestate-field h6,
div#container_workspace h6.ms-rteElement-H6 {
  font-family: "WeblySleek UI Normal Italic", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 1.5rem !important;
  line-height: 2.5rem !important;
  color: #666;
  padding: 0 0 25px;
  margin: 0;
  color: #444; }
  header h6 a,
  header h6 a:link,
  header h6 a:visited,
  header h6 a.ms-core-listMenu-item,
  header h6 a.ms-core-listMenu-item:link,
  header h6 a.ms-core-listMenu-item:visited,
  header h6 a.ms-tv-item,
  header h6 a.ms-tv-item:link,
  header h6 a.ms-tv-item:visited,
  header h6 a.ms-tv-header,
  header h6 a.ms-tv-header:link,
  header h6 a.ms-tv-header:visited,
  header .ms-rtestate-field h6 a,
  header .ms-rtestate-field h6 a:link,
  header .ms-rtestate-field h6 a:visited,
  header .ms-rtestate-field h6 a.ms-core-listMenu-item,
  header .ms-rtestate-field h6 a.ms-core-listMenu-item:link,
  header .ms-rtestate-field h6 a.ms-core-listMenu-item:visited,
  header .ms-rtestate-field h6 a.ms-tv-item,
  header .ms-rtestate-field h6 a.ms-tv-item:link,
  header .ms-rtestate-field h6 a.ms-tv-item:visited,
  header .ms-rtestate-field h6 a.ms-tv-header,
  header .ms-rtestate-field h6 a.ms-tv-header:link,
  header .ms-rtestate-field h6 a.ms-tv-header:visited,
  header h6.ms-rteElement-H6 a,
  header h6.ms-rteElement-H6 a:link,
  header h6.ms-rteElement-H6 a:visited,
  header h6.ms-rteElement-H6 a.ms-core-listMenu-item,
  header h6.ms-rteElement-H6 a.ms-core-listMenu-item:link,
  header h6.ms-rteElement-H6 a.ms-core-listMenu-item:visited,
  header h6.ms-rteElement-H6 a.ms-tv-item,
  header h6.ms-rteElement-H6 a.ms-tv-item:link,
  header h6.ms-rteElement-H6 a.ms-tv-item:visited,
  header h6.ms-rteElement-H6 a.ms-tv-header,
  header h6.ms-rteElement-H6 a.ms-tv-header:link,
  header h6.ms-rteElement-H6 a.ms-tv-header:visited,
  aside h6 a,
  aside h6 a:link,
  aside h6 a:visited,
  aside h6 a.ms-core-listMenu-item,
  aside h6 a.ms-core-listMenu-item:link,
  aside h6 a.ms-core-listMenu-item:visited,
  aside h6 a.ms-tv-item,
  aside h6 a.ms-tv-item:link,
  aside h6 a.ms-tv-item:visited,
  aside h6 a.ms-tv-header,
  aside h6 a.ms-tv-header:link,
  aside h6 a.ms-tv-header:visited,
  aside .ms-rtestate-field h6 a,
  aside .ms-rtestate-field h6 a:link,
  aside .ms-rtestate-field h6 a:visited,
  aside .ms-rtestate-field h6 a.ms-core-listMenu-item,
  aside .ms-rtestate-field h6 a.ms-core-listMenu-item:link,
  aside .ms-rtestate-field h6 a.ms-core-listMenu-item:visited,
  aside .ms-rtestate-field h6 a.ms-tv-item,
  aside .ms-rtestate-field h6 a.ms-tv-item:link,
  aside .ms-rtestate-field h6 a.ms-tv-item:visited,
  aside .ms-rtestate-field h6 a.ms-tv-header,
  aside .ms-rtestate-field h6 a.ms-tv-header:link,
  aside .ms-rtestate-field h6 a.ms-tv-header:visited,
  aside h6.ms-rteElement-H6 a,
  aside h6.ms-rteElement-H6 a:link,
  aside h6.ms-rteElement-H6 a:visited,
  aside h6.ms-rteElement-H6 a.ms-core-listMenu-item,
  aside h6.ms-rteElement-H6 a.ms-core-listMenu-item:link,
  aside h6.ms-rteElement-H6 a.ms-core-listMenu-item:visited,
  aside h6.ms-rteElement-H6 a.ms-tv-item,
  aside h6.ms-rteElement-H6 a.ms-tv-item:link,
  aside h6.ms-rteElement-H6 a.ms-tv-item:visited,
  aside h6.ms-rteElement-H6 a.ms-tv-header,
  aside h6.ms-rteElement-H6 a.ms-tv-header:link,
  aside h6.ms-rteElement-H6 a.ms-tv-header:visited,
  div#container_workspace h6 a,
  div#container_workspace h6 a:link,
  div#container_workspace h6 a:visited,
  div#container_workspace h6 a.ms-core-listMenu-item,
  div#container_workspace h6 a.ms-core-listMenu-item:link,
  div#container_workspace h6 a.ms-core-listMenu-item:visited,
  div#container_workspace h6 a.ms-tv-item,
  div#container_workspace h6 a.ms-tv-item:link,
  div#container_workspace h6 a.ms-tv-item:visited,
  div#container_workspace h6 a.ms-tv-header,
  div#container_workspace h6 a.ms-tv-header:link,
  div#container_workspace h6 a.ms-tv-header:visited,
  div#container_workspace .ms-rtestate-field h6 a,
  div#container_workspace .ms-rtestate-field h6 a:link,
  div#container_workspace .ms-rtestate-field h6 a:visited,
  div#container_workspace .ms-rtestate-field h6 a.ms-core-listMenu-item,
  div#container_workspace .ms-rtestate-field h6 a.ms-core-listMenu-item:link,
  div#container_workspace .ms-rtestate-field h6 a.ms-core-listMenu-item:visited,
  div#container_workspace .ms-rtestate-field h6 a.ms-tv-item,
  div#container_workspace .ms-rtestate-field h6 a.ms-tv-item:link,
  div#container_workspace .ms-rtestate-field h6 a.ms-tv-item:visited,
  div#container_workspace .ms-rtestate-field h6 a.ms-tv-header,
  div#container_workspace .ms-rtestate-field h6 a.ms-tv-header:link,
  div#container_workspace .ms-rtestate-field h6 a.ms-tv-header:visited,
  div#container_workspace h6.ms-rteElement-H6 a,
  div#container_workspace h6.ms-rteElement-H6 a:link,
  div#container_workspace h6.ms-rteElement-H6 a:visited,
  div#container_workspace h6.ms-rteElement-H6 a.ms-core-listMenu-item,
  div#container_workspace h6.ms-rteElement-H6 a.ms-core-listMenu-item:link,
  div#container_workspace h6.ms-rteElement-H6 a.ms-core-listMenu-item:visited,
  div#container_workspace h6.ms-rteElement-H6 a.ms-tv-item,
  div#container_workspace h6.ms-rteElement-H6 a.ms-tv-item:link,
  div#container_workspace h6.ms-rteElement-H6 a.ms-tv-item:visited,
  div#container_workspace h6.ms-rteElement-H6 a.ms-tv-header,
  div#container_workspace h6.ms-rteElement-H6 a.ms-tv-header:link,
  div#container_workspace h6.ms-rteElement-H6 a.ms-tv-header:visited {
    font-family: "WeblySleek UI Normal Italic", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 1.5rem !important;
    line-height: 2.5rem !important;
    color: #666;
    padding: 0 0 25px;
    margin: 0;
    color: #0072c6; }
header a,
header a:visited,
aside a,
aside a:visited,
div#container_workspace a,
div#container_workspace a:visited {
  color: #0072c6; }
header ul.cbs-List,
header .ms-gb a,
header .ms-gb2 a,
header a.ms-listlink,
aside ul.cbs-List,
aside .ms-gb a,
aside .ms-gb2 a,
aside a.ms-listlink,
div#container_workspace ul.cbs-List,
div#container_workspace .ms-gb a,
div#container_workspace .ms-gb2 a,
div#container_workspace a.ms-listlink {
  color: #0072c6 !important; }
header span.ellipsis-menu-imitation,
aside span.ellipsis-menu-imitation,
div#container_workspace span.ellipsis-menu-imitation {
  font-size: 18px;
  font-weight: bold;
  color: #888; }
header span.look-for-it,
aside span.look-for-it,
div#container_workspace span.look-for-it {
  font-family: "WeblySleek UI Semibold", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif; }
header p,
header ul,
header ol,
aside p,
aside ul,
aside ol,
div#container_workspace p,
div#container_workspace ul,
div#container_workspace ol {
  margin: 0;
  padding: 0 0 25px; }
header ul ul,
header ol ol,
header ul ol,
header ol ul,
aside ul ul,
aside ol ol,
aside ul ol,
aside ol ul,
div#container_workspace ul ul,
div#container_workspace ol ol,
div#container_workspace ul ol,
div#container_workspace ol ul {
  padding: 0; }
header ul li,
aside ul li,
div#container_workspace ul li {
  list-style: square outside;
  margin: 0 0 0 15px; }

div#s4-titlerow {
  display: none !important; }

div#s4-bodyContainer {
  padding: 0; }

div#contentRow {
  padding: 0; }

div#contentBox {
  margin: 0;
  min-width: 0; }

/*# sourceMappingURL=mos_screen.css.map */
